{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
{{end}}

{{if 'message' in globals():}}
  <h2>{{=message}}</h2>
  <p>
    Bienvenido/a al <b>SIGPAE</b>. Este sistema le facilitá el proceso de creación, modificación o eliminación de
    Programas Analíticos de Estudio, para pregrado y postgrado, ofrecidos en la Universidad Simón Bolívar.
  </p>
{{pass}}


<div class="public-search col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

  {{if 'form_busqueda' in globals():}}
    <div class="panel panel-info help-content">
      <div class="panel-heading">Búsquedas Públicas</div>
      <div class="panel-body">
        {{=form_busqueda.custom.begin}}
        <p>
          <b>Departamento</b> <br>
          {{=form_busqueda.custom.widget.departamento}}
        </p>
        <p>
          <b>Código</b> <br>
          {{=form_busqueda.custom.widget.codigo}}
        </p>
        <p>
          <b>Denominación</b> <br>
          {{=form_busqueda.custom.widget.denominacion}}
        </p>

        <button type="submit" class="btn btn-primary" style="float: right">
          <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>

        {{=form_busqueda.custom.end}}
      </div>

  
      <div class="panel-heading">Búsqueda por materias aprobadas</div>
      <div class="panel-body">
        {{=form_busqueda_carnet.custom.begin}}
        <p>
          <b>Carnet (XX-XXXXX)</b> <br>
          {{=form_busqueda_carnet.custom.widget.carnet}}
        </p>
        <button type="submit" class="btn btn-primary" style="float: right">
          <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>

        {{=form_busqueda_carnet.custom.end}}
      </div>
    </div>

  {{pass}}

</div>
