{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
  <h2> {{=message}}</h2>
{{pass}}

{{if 'error' in globals():}}
  <p>No se pudo conectar con el servicio de consultas. <br>
     Inténte de nuevo más tarde. Si el error persiste póngase en contacto con la Dirección de
     Admisión y Control de Estudios (DACE).
  </p>
{{else:}}
  <div class="table-responsive">
     <table id="list-programs" class="table table-striped">
     <thead>
       <tr>
         <th>Código</th>
         <th>Nombre</th>
         <th>Más detalles:</th>
	      </tr>
     </thead>
     <tbody>
       {{for vig in vigentes:}}
         <tr>
           <td>{{=vig.codigo}}</td>
           <td>
			   {{if vig.denominacion != None:}}
			   {{=vig.denominacion}}
			   {{else:}}
			   No existe nombre registrado para el código
			   {{pass}}
		   </td>
		   
		   <td><a href="{{=URL(c='vigencia', f='search_results', vars=dict(codigo=vig.codigo))}}">Más detalles</a></td>
			 
         </tr>
        {{pass}}		 
		

     </tbody>
   </table>
   </div>

  <script type="text/javascript">
    // initializing datatable
    $(document).ready( function () {
      var opciones = {
            responsive: true,
              "language": {
                  search:         "Buscar: ",
                  searchPlaceholder: "ID, Código, Fecha...",
                  lengthMenu:     "Mostrar _MENU_ entradas.",
                  info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                  infoEmpty:      "",
                  infoFiltered:   "",
                  infoPostFix:    "",
                  loadingRecords: "Cargando datos...",
                  zeroRecords:    "No se encontraron Asignaturas que correspondan a la búsqueda.",
                  emptyTable:     "No hay información disponible.",
                  processing:     "Procesando...",
                  paginate: {
                      first:      "Primero",
                      previous:   "Anterior",
                      next:       "Siguiente",
                      last:       "Último"
                  },
                  aria: {
                      sortAscending:  ": Se ordenan las columnas por orden creciente.",
                      sortDescending: ": Se ordenan las columnas por orden decreciente."
                  }
              },
               "columns": [
                  null,
                  null,
                  null
              ]
          };
        $('#list-programs').DataTable(opciones);
    } );
  </script>
{{pass}}
