{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div class="row">
  <div class="col-sm-2">
    <p class="history_back" onclick="window.history.back();"><i class="fa fa-arrow-left"></i>&nbsp; Volver</p>
  </div>
  <div class="col-sm-8" align="center">
    {{if 'message' in globals():}}
      <h2> {{=message}}</h2>
    {{pass}}
  </div>
</div>
<br>

{{if 'error' in globals():}}
  <p>No se pudo conectar con el servicio de consultas. <br>
     Inténte de nuevo más tarde. Si el error persiste póngase en contacto con la Dirección de
     Admisión y Control de Estudios (DACE).
  </p>
{{else:}}

  {{if codigo_valido:}}
  <p> <b>La asignatura se encuentra: {{if asignatura_vigente:}} Vigente {{else:}} No Vigente {{pass}}</b></p>
    <p>{{if not existe_programa_transcrito:}} No Existen programas registrados {{else:}}
	{{if programa_es_vigente:}}
	  Se encontraron programas vigentes, se listan en la siguiente tabla:
	  {{else:}}
	  No se encontraron programas vigentes, sin embargo se listan en la siguienta tabla con sus respectivos estados:
	  {{pass}}
	</p>
	  {{pass}}
  <div class="table-responsive">
	    
   <table id="list-programs" class="table table-striped">
     <caption style="caption-side: top;" align="center">Estado actual de los programas más recientes:</caption>
     <thead>
       <tr>
         <th>Fecha de entrada en vigencia del programa </th>
         <th>Fecha de salida en vigencia del programa </th>
         <th>Detalles</th> 
         {{if not programa_es_vigente:}}<th>Notas</th>{{pass}}
       </tr>
     </thead>
     <tbody>
	 {{if existe_programa_transcrito:}}
		{{if programa_es_vigente:}}		 	
		   {{for sub in programs:}}
			 <tr>
			   <td>{{=sub['periodo']}} {{=sub['anio']}}</td>
			   <td>
				{{if sub['periodo_hasta'] and sub['anio_hasta']:}}
				  {{=sub['periodo_hasta']}} {{=sub['anio_hasta']}}
				{{else:}}
				-
				{{pass}}
			   </td>
			   <td><a href="{{=URL(c='sinoptic', f='view', vars=dict(id=sub['id']))}}">Ver Programa</a></td>
			 </tr>
			{{pass}}
		{{else:}}
		   {{for sub in programs:}}
			 <tr>
			   <td>{{=sub['PROGRAMA.periodo']}} {{=sub['PROGRAMA.anio']}}</td>
			   <td>
				{{if sub['PROGRAMA.periodo_hasta'] and sub['PROGRAMA.anio_hasta']:}}
				  {{=sub['PROGRAMA.periodo_hasta']}} {{=sub['PROGRAMA.anio_hasta']}}
				{{else:}}
				-
				{{pass}}
			   </td>
			   <td><a href="{{=URL(c='sinoptic', f='view', vars=dict(id=sub['PROGRAMA.id']))}}">Ver Programa</a></td>
			   <td>
				   {{if sub['PROGRAMAS_NO_VIGENTES.estado']==1:}} El programa ya venció su periodo
				   {{elif sub['PROGRAMAS_NO_VIGENTES.estado']==2:}} El programa no posee fecha de culminación 
				   {{elif sub['PROGRAMAS_NO_VIGENTES.estado']==3:}} El programa pertenece a una asignatura que no es vigente		 
				   {{pass}}
				 </td>
			 </tr>
			{{pass}}		 
		{{pass}}
     {{pass}}	  
     </tbody>
   </table>
   </div>
  </div> 



  {{else:}}     
  <div class='row'>
    <div class='col-md-6 col-sm-12'>
      <p><b>El código buscado no se encuentra registrado en el sistema.</b></p>   
    </div>   
  </div>
  {{pass}}   
{{pass}}

  <script type="text/javascript">
    // initializing datatable
    $(document).ready( function () {
      var opciones = {
            responsive: true,
              "order": [[ 0, "desc" ]],
              "language": {
                  search:         "Buscar: ",
                  searchPlaceholder: "ID, Código, Fecha...",
                  lengthMenu:     "Mostrar _MENU_ entradas.",
                  info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                  infoEmpty:      "",
                  infoFiltered:   "",
                  infoPostFix:    "",
                  loadingRecords: "Cargando datos...",
                  zeroRecords:    "No se encontraron Programas que correspondan a la búsqueda.",
                  emptyTable:     "No hay información disponible.",
                  processing:     "Procesando...",
                  paginate: {
                      first:      "Primero",
                      previous:   "Anterior",
                      next:       "Siguiente",
                      last:       "Último"
                  },
                  aria: {
                      sortAscending:  ": Se ordenan las columnas por orden creciente.",
                      sortDescending: ": Se ordenan las columnas por orden decreciente."
                  }
              },
               "columns": [
                  null,
                  null,
                  null,
                  null
              ]
          };
        $('#list-programs').DataTable(opciones);
    } );
  </script>