{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
  <h2> {{=message}}</h2>
{{pass}}

<div class='row'>
  <div class='col-md-6 col-sm-12'>
	{{if registrado_genesis:}}
		<p><b>La asignatura se encuentra registrada en Génesis</b></p>
	  	{{if detalles_vigencia['vigente']:}}
	 		<p><b>La asignatura posee un programa vigente registrado en SIGPAE</p>	
	 		<p><b>Fecha de entrada en Vigencia :</b> {{=detalles_vigencia['fecha_entrada_vigencia']}}</p>
	    {{else:}}
	 		<p><b>La asignatura no posee un programa vigente registrado en SIGPAE</b></p>	
	 		<p><b>Fecha de entrada en Vigencia del ultimo programa registrado en SIGPAE:</b> </p>	
	  		<p>{{=detalles_vigencia['fecha_entrada_vigencia']}}</p>
	    {{pass}}
	{{else:}}	  
		<p><b>La asignatura no se encuentra registrada en Génesis</b></p>	  
	{{pass}}
  
  </div>
 
</div>
