{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div class="row">
  <div class="col-sm-2">
    <p class="history_back" onclick="window.history.back();"><i class="fa fa-arrow-left"></i>&nbsp; Volver</p>
  </div>
  <div class="col-sm-8" align="center">
    {{if 'message' in globals():}}
      <h2> {{=message}}</h2>
    {{pass}}
  </div>
</div>
<br>

{{if 'error' in globals():}}
  <p>No se pudo conectar con el servicio de consultas. <br>
     Inténte de nuevo más tarde. Si el error persiste póngase en contacto con la Dirección de
     Admisión y Control de Estudios (DACE).
  </p>
{{else:}}

  {{if single:}}
  <div class='row'>
    <div class='col-md-6 col-sm-12'>
    {{if registrado_genesis:}}
      <p><b>La asignatura se encuentra registrada en Génesis</b></p>
        {{if detalles_vigencia['vigente']:}}
        <p><b>La asignatura posee un programa vigente registrado en SIGPAE</p>  
        <p><b>Fecha de entrada en Vigencia :</b> {{=detalles_vigencia['fecha_entrada_vigencia']}}</p>
        {{else:}}
        <p><b>La asignatura no posee un programa vigente registrado en SIGPAE</b></p> 
        <p><b>Fecha de entrada en Vigencia del ultimo programa registrado en SIGPAE:</b> </p> 
          <p>{{=detalles_vigencia['fecha_entrada_vigencia']}}</p>
        {{pass}}
    {{else:}}   
      <p><b>La asignatura no se encuentra registrada en Génesis</b></p>   
    {{pass}}    
    </div>   
  </div>

  {{else:}}   
  <div class="table-responsive">
   <table id="list-programs" class="table table-striped">
     <thead>
       <tr>
         <th>Nombre</th>
         <th>Código</th>
         <th>Vigente Desde</th>
         <th>Vigente Hasta</th>
       </tr>
     </thead>
     <tbody>
       {{for sub in subjects:}}
         <tr>
           <td><a href="{{=URL(c='sinoptic', f='view', vars=dict(id=sub['id']))}}">{{=sub['denominacion']}}</a></td>
           <td>{{=sub['codigo']}}</td>
           <td>{{=sub['periodo']}} {{=sub['anio']}}</td>
           <td>
            {{if sub['periodo_hasta'] and sub['anio_hasta']:}}
              {{=sub['periodo_hasta']}} {{=sub['anio_hasta']}}
            {{else:}}
            -
            {{pass}}
           </td>
         </tr>
        {{pass}}
     </tbody>
   </table>
   </div>
  </div> 

  <script type="text/javascript">
    // initializing datatable
    $(document).ready( function () {
      var opciones = {
            responsive: true,
              "order": [[ 2, "desc" ]],
              "language": {
                  search:         "Buscar: ",
                  searchPlaceholder: "ID, Código, Fecha...",
                  lengthMenu:     "Mostrar _MENU_ entradas.",
                  info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                  infoEmpty:      "",
                  infoFiltered:   "",
                  infoPostFix:    "",
                  loadingRecords: "Cargando datos...",
                  zeroRecords:    "No se encontraron Programas que correspondan a la búsqueda.",
                  emptyTable:     "No hay información disponible.",
                  processing:     "Procesando...",
                  paginate: {
                      first:      "Primero",
                      previous:   "Anterior",
                      next:       "Siguiente",
                      last:       "Último"
                  },
                  aria: {
                      sortAscending:  ": Se ordenan las columnas por orden creciente.",
                      sortDescending: ": Se ordenan las columnas por orden decreciente."
                  }
              },
               "columns": [
                  null,
                  null,
                  null,
                  null
              ]
          };
        $('#list-programs').DataTable(opciones);
    } );
  </script>
  {{pass}}   
{{pass}}
