{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div class="row">
  <div class="col-sm-2">
    <p class="history_back" onclick="window.history.back();"><i class="fa fa-arrow-left"></i>&nbsp; Volver</p>
  </div>
  <div class="col-sm-8" align="center">
    {{if 'message' in globals():}}
      <h2> {{=message}}</h2>
    {{pass}}
  </div>
  <div class="col-sm-2">
     <a href="{{=URL(c='programs', f='generate', vars=dict(estilo='APA', cod=programa['id']))}}" class="btn btn-primary btn-pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Ver formato PDF
     </a>
  </div>
</div>
<br>

<div class='row'>
  <div class='col-md-6 col-sm-6'>
    <div class="col-sm-6" align="right">
      <p><b>Código:</b></p>
      <p><b>Denominación:</b></p>
      <p><b>Vigente desde:</b></p> 
      {{if programa['periodo_hasta'] and programa['anio_hasta']:}}
        <p><b>Vigente hasta:</b></p> 
      {{ pass }}
    </div>
    <div class="col-sm-6">
      <p> {{=programa['codigo']}}.</p>
      <p> {{=programa['denominacion']}}.</p>
      <p> {{=programa['periodo']}} {{=programa['anio']}} </p>
      {{if programa['periodo_hasta'] and programa['anio_hasta']:}}
       <p> {{=programa['periodo_hasta']}} {{=programa['anio_hasta']}} </p>
      {{pass}}
    </div>
  </div>
  <div class='col-md-6 col-sm-6'>
    <div class="col-sm-6" align="right">
      <p><b>Créditos:</b></p>
      <p><b>Horas de Teoría:</b></p>
      <p><b>Horas de Práctica:</b></p>
      <p><b>Horas de Laboratorio:</b></p>
    </div>
    <div class="col-sm-6">
      <p> {{=programa['creditos']}}</p>
      <p> {{=programa['horas_teoria']}}</p>
      <p> {{=programa['horas_practica']}}</p>
      <p> {{=programa['horas_laboratorio']}}</p>
    </div>
  </div>
  <div class='col-md-12 col-sm-12 program-sep'>
    <hr class="program-hr">
    <p><b>&emsp;Objetivos Generales:</b></p>
    <p>{{=programa['objetivos_generales']}}.</p><br>
    <p><b>&emsp;Objetivos Específicos:</b></p>
    <p>{{=programa['objetivos_especificos']}}.</p><br>
    <p><b>&emsp;Sinópticos:</b></p>
    <p>{{=programa['sinopticos']}}.</p>
    <hr class="program-hr">
  </div>
</div>

<!-- Modal para escoger estilo de referencia -->
<div class="container">
  <div class="modal fade" id="modalEstiloCita" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Estilo de referencia</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            Escoja el estilo de referencia en el que desea que genere su programa analítico.
          </center>
            <br>
            {{=estilo_citas_form}}
        </div>
      </div>
    </div>
  </div>
</div>