{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}} {{extend 'layout.html'}}
<div class="row">
	<div class="col-sm-2">
		<p class="history_back" onclick="window.history.back();">
			<i class="fa fa-arrow-left"></i>&nbsp; Volver</p>
	</div>
	<div class="col-sm-8" align="center">
		{{if 'message' in globals():}}
		<h2>{{=message}}</h2>
		{{pass}}
	</div>
</div>
<br> 

{{if 'error' in globals():}}
<p>No se pudo conectar con el servicio de consultas.
	<br> Inténte de nuevo más tarde. Si el error persiste póngase en contacto con la Dirección de Admisión y Control de Estudios
	(DACE).
</p>

{{else:}}
<div class="table-responsive">
	<table id="list-programs" class="table table-striped">
		<thead>
			<tr>
				<th>Título</th>
				<th>Tanscripción</th>
				<th>Autor</th>
				<th>Coautores</th>
				<th>Año de publicación</th>
				<th>Editorial</th>
                <th>Contenedor</th>
                <th>Tipo</th>
                <th>Comentario de la edición</th>
				<th>Acceso</th>
				<th>ISBN</th>
                <th>Comentarios</th>
                <th>Fecha ingreso</th>
                <th>Cita</th>
                <th>Cita IEEE</th>
                <th>Cita APA</th>
                <th>Comentario del libro</th>
                <th>Url del libro</th>
			</tr>
		</thead>
		<tbody>
			{{for book in books:}}
			<tr>
				<td>{{=book.titulo}}</td>

				<td>{{=book.transcripcion}}</td>

				<td>{{=book.autor}}</td>

				<td>{{=book.coautores}}</td>

				<td>{{=book.pubyear}}</td>

				<td>{{=book.publisher}}</td>

                <td>{{=book.colectivo}}</td>

                <td>{{=book.tipo}}</td>
                
				<td>{{=book.edition_comment}}</td>
				
				{{if book.open_access == False:}}
				<td>No público</td>
				{{else:}}
				<td>Público</td>

				<td>{{=book.isbn}}</td>

                <td>{{=book.comentarios}}</td>

                <td>{{=book.fecha_ingreso}}</td>

                <td>{{=book.cite}}</td>
                
                <td>{{=book.citeIEEE}}</td>

                <td>{{=book.citeAPA}}</td>

                <td>{{=book.book_comment}}</td>

                <td>{{=book.book_url}}</td>
			</tr>
			{{pass}}
		</tbody>
	</table>
</div>

<script type="text/javascript">
	// initializing datatable
	$(document).ready(function () {
		var opciones = {
			responsive: true,
			"order": [[2, "desc"]],
			"language": {
				search: "Buscar: ",
				searchPlaceholder: "ID, Código, Fecha...",
				lengthMenu: "Mostrar _MENU_ entradas.",
				info: "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
				infoEmpty: "",
				infoFiltered: "",
				infoPostFix: "",
				loadingRecords: "Cargando datos...",
				zeroRecords: "No se encontraron Programas que correspondan a la búsqueda.",
				emptyTable: "No hay información disponible.",
				processing: "Procesando...",
				paginate: {
					first: "Primero",
					previous: "Anterior",
					next: "Siguiente",
					last: "Último"
				},
				aria: {
					sortAscending: ": Se ordenan las columnas por orden creciente.",
					sortDescending: ": Se ordenan las columnas por orden decreciente."
				}
			},
			"columns": [
				null,
				null,
				null,
				null
			]
		};
		$('#list-programs').DataTable(opciones);
	});
</script> {{pass}} {{pass}}