{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}} {{extend 'layout.html'}}
<div class="row">
	<div class="col-sm-2">
		<p class="history_back" onclick="window.history.back();">
			<i class="fa fa-arrow-left"></i>&nbsp; Volver</p>
	</div>
	<div class="col-sm-8" align="center">
		{{if 'message' in globals():}}
		<h2> {{=message}}</h2>
		<h4> {{=subject['codigo']}}, {{=subject['denominacion']}}</h4>
		{{pass}}
	</div>
</div>
<br> {{if 'error' in globals():}}
<p>No se pudo conectar con el servicio de consultas.
	<br> Inténte de nuevo más tarde. Si el error persiste póngase en contacto con la Dirección de Admisión y Control de Estudios
	(DACE).
</p>
{{else:}}
<tr>
	<td>
		<b>Entrada en vigencia: {{=program['anio']}}</b>
	</td>
	<br>
	<td>
		<b>Salida de vigencia: {{=program['anio_hasta']}}</b>
	</td>
</tr>
<br>
<br>
<br> {{pass}}

<div class="table-responsive">
	<table id="list-programs" class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Título</th>
				<th>Autor</th>
				<th>Año de publicación</th>
				<th>Editorial</th>
				<th>URL</th>
				<th>Más</th>
			</tr>
		</thead>
		<tbody>
			{{for book in books:}}
			<tr>
				<td>
					{{=book.id}}
				</td>
				<td>
					{{=book.titulo}}
				</td>
				<td>
					{{=book.autor}}
				</td>
				<td>
					{{=book.pubyear}}
				</td>
				<td>
					{{=book.publisher}}
				</td>
				<td>
					{{=book.book_url}}
				</td>
				<td>
					<a href="/SIGPAE/books/book_details?id={{=book.id}}">
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	// initializing datatable
	$(document).ready(function () {
		var opciones = {
			responsive: true,
			"order": [[2, "desc"]],
			"language": {
				search: "Buscar: ",
				searchPlaceholder: "ID, Código, Fecha...",
				lengthMenu: "Mostrar _MENU_ entradas.",
				info: "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
				infoEmpty: "",
				infoFiltered: "",
				infoPostFix: "",
				loadingRecords: "Cargando datos...",
				zeroRecords: "No se encontraron Programas que correspondan a la búsqueda.",
				emptyTable: "No hay información disponible.",
				processing: "Procesando...",
				paginate: {
					first: "Primero",
					previous: "Anterior",
					next: "Siguiente",
					last: "Último"
				},
				aria: {
					sortAscending: ": Se ordenan las columnas por orden creciente.",
					sortDescending: ": Se ordenan las columnas por orden decreciente."
				}
			},
			"columns": [
				null,
				null,
				null,
				null
			]
		};
		$('#list-programs').DataTable(opciones);
	});
</script> {{pass}} {{pass}}