{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
{{end}}

{{if 'message' in globals():}}
  <h2>{{=message}}</h2>
{{pass}}


<div class="public-search col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

  {{if 'form_busqueda' in globals():}}
    <div class="panel panel-info help-content">
      <div class="panel-heading">Introduzca el código de asignatura</div>
      <div class="panel-body">
        {{=form_busqueda.custom.begin}}
        <p>
          <b>Código</b> <br>
          {{=form_busqueda.custom.widget.codigo}}
        </p>

        <button type="submit" class="btn btn-primary" style="float: right">
          <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>

        {{=form_busqueda.custom.end}}
      </div>
    </div>

  {{pass}}

</div>
