{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}} {{extend 'layout.html'}}
<div class="row">
	<div class="col-sm-2">
		<p class="history_back" onclick="window.history.back();">
			<i class="fa fa-arrow-left"></i>&nbsp; Volver</p>
	</div>
	<div class="col-sm-8" align="center">
		{{if 'message' in globals():}}
		<h2> {{=message}}</h2>
		{{pass}}
	</div>
</div>
<br> {{if 'error' in globals():}}
<p>No se pudo conectar con el servicio de consultas.
	<br> Inténte de nuevo más tarde. Si el error persiste póngase en contacto con la Dirección de Admisión y Control de Estudios
	(DACE).
</p>
{{else:}} {{if single:}}
<div class='row'>
	<div class='col-md-6 col-sm-12'>
		{{if registrado_genesis:}}
		<p>
			<b>La asignatura se encuentra registrada en Génesis</b>
		</p>
		{{if detalles_vigencia['vigente']:}}
		<p>
			<b>La asignatura posee un programa vigente registrado en SIGPAE</p>
		<p>
			<b>Fecha de entrada en Vigencia :</b> {{=detalles_vigencia['fecha_entrada_vigencia']}}</p>
		{{else:}}
		<p>
			<b>La asignatura no posee un programa vigente registrado en SIGPAE</b>
		</p>
		<p>
			<b>Fecha de entrada en Vigencia del ultimo programa registrado en SIGPAE:</b>
		</p>
		<p>{{=detalles_vigencia['fecha_entrada_vigencia']}}</p>
		{{pass}} {{else:}}
		<p>
			<b>La asignatura no se encuentra registrada en Génesis</b>
		</p>
		{{pass}}
	</div>
</div>

{{else:}}
<div class="table-responsive">
	<table id="list-programs" class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Periodo de inicio</th>
				<th>Año</th>
				<th>Periodo de finalización</th>
				<th>Año</th>
				<th>Fecha de elaboracion</th>
				<th>Más</th>
			</tr>
		</thead>
		<tbody>
			{{for sub in subjects:}}
			<tr>
				<td>{{=sub.id}}</td>

				<td>{{=sub.original_pdf}}</td>

				<td>{{=sub.periodo}}</td>

				<td>{{=sub.anio}}</td>

				<td>{{=sub.periodo_hasta}}</td>

				<td>{{=sub.anio_hasta}}</td>

				<td>{{=sub.fecha_elaboracion}}</td>

				<td>
					<a href="/SIGPAE/books/details?id={{=sub.id}}">
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</td>
			</tr>
			{{pass}}
		</tbody>
	</table>
</div>
<script type="text/javascript">
	// initializing datatable
	$(document).ready(function () {
		var opciones = {
			responsive: true,
			"order": [[2, "desc"]],
			"language": {
				search: "Buscar: ",
				searchPlaceholder: "ID, Código, Fecha...",
				lengthMenu: "Mostrar _MENU_ entradas.",
				info: "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
				infoEmpty: "",
				infoFiltered: "",
				infoPostFix: "",
				loadingRecords: "Cargando datos...",
				zeroRecords: "No se encontraron Programas que correspondan a la búsqueda.",
				emptyTable: "No hay información disponible.",
				processing: "Procesando...",
				paginate: {
					first: "Primero",
					previous: "Anterior",
					next: "Siguiente",
					last: "Último"
				},
				aria: {
					sortAscending: ": Se ordenan las columnas por orden creciente.",
					sortDescending: ": Se ordenan las columnas por orden decreciente."
				}
			},
			"columns": [
				null,
				null,
				null,
				null
			]
		};
		$('#list-programs').DataTable(opciones);
	});
</script> {{pass}} {{pass}}