{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
  <h2> {{=message}}</h2>
{{pass}}

{{if 'error' in globals():}}
  <p>No se pudo conectar con el Web Service. </p>
  <h3>Error: {{=error}}</h3>
{{else:}}
  {{if subject == []:}}
    <h2> Asignatura no encontrada. </h2>
  {{else:}}
  <div class='row'>
    <div class='col-md-6 col-sm-12'>
      <p><b>Nombre:</b> {{=subject['nombre']}}.</p>
      <p><b>Código:</b> {{=subject['cod_asignatura']}}.</p>
      <p><b>Última notificación a DACE:</b> {{=subject['vig_desde']}}.</p>

    </div>
    <div class='col-md-6 col-sm-12'>
      <div class="panel panel-info help-content">
        <div class="panel-heading">Programas Disponibles</div>
        <div class="panel-body">
          {{if programas:}}
            <ul>
              {{for programa in programas:}}
                <li>
                  <a href="{{=URL(c='programs', f='view', vars=dict(id=programa['id']))}}">
                    <b>Desde:</b> {{=programa['periodo']}} {{=programa['anio']}} <b>Hasta:</b> {{ if programa['periodo_hasta']:}} {{=programa['periodo_hasta']}} {{=programa['anio_hasta']}} {{else:}}  --- {{pass}}
                  </a>
                </li>
              {{pass}}
             </ul>
          {{else:}}
            <p>No existen programas registrados para esta asignatura.</p>
          {{pass}}
        </div>
      </div>
    </div>
  </div>
  {{pass}}
{{pass}}
