{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2> {{=message}}</h2>
<p> Esta es una lista de las solicitudes que me han sido asignadas<br>
</p>
{{pass}}

<div class="table-responsive">
 <table id="list-transcriptions" class="table table-striped">
   <thead>
     <tr>
       <th>ID</th>
       <th>Solicitante</th>
       <th>Nombre tentativo</th>
       <th>Fecha creación</th>
       <th>Estado</th>
       <th>Departamento</th>
       <th>Ver</th>
       <th>Aceptar</th>
       <th>Rechazar</th>
     </tr>
   </thead>
   <tbody>
     {{for solic in solicitudes:}}
       <tr>
         <td>{{=solic['id']}}</td>
         <td>{{=solic['solicitante']}}</td>
         <td>{{=solic['nombre_tentativo']}}</td>
         <td>{{=solic['fecha_creacion']}}</td>
         <td>{{=solic['estado']}}</td>
         <td>{{=solic['profesor_asignado']}}</td>
         <td>
           <a data-toggle="modal"
             data-target="#modalVerSolicitud"
             data-id="{{=solic['id']}}"
             data-name="{{=solic['nombre_tentativo']}}"
             data-date="{{=solic['fecha_creacion']}}"
             data-descr="{{=solic['descripcion']}}"
             data-departamento="{{=solic['departamento']}}"
             data-estado="{{=solic['estado']}}"
             data-solicitante="{{=solic['solicitante']}}"
             data-profesor-nombre="{{=solic['nombre_profesor']}}"
             data-profesor-id="{{=solic['profesor_asignado']}}"
             data-observacion-profesor="{{=solic['observacion_profesor']}}"
             data-observacion-rechazo="{{=solic['observacion_rechazo']}}"

            ><i class="fa fa-eye blue" aria-hidden="true"></i>
          </a>
         </td>
        {{if solic['estado'] == "En espera de aprobación profesor.":}}
	          <td>
	             <a data-toggle="modal"
	                data-target="#modalAceptar"
	                data-id="{{=solic['id']}}"
	                data-name="{{=solic['nombre_tentativo']}}"
	                data-user="{{=solic['solicitante']}}">
	                <i class="fa fa-check green" aria-hidden="true"></i>
	             </a>
	          </td>
	          <td>
	             <a data-toggle="modal"
	                data-target="#modalEliminar"
	                data-id="{{=solic['id']}}"
	                data-name="{{=solic['nombre_tentativo']}}"
	                data-user="{{=solic['solicitante']}}">
	                <i class="fa fa-times red" aria-hidden="true"></i>
	             </a>
	          </td>
          {{else:}}
	          <td>---</td>
	          <td>---</td>
          {{pass}}
       </tr>
      {{pass}}
   </tbody>
 </table>
 </div>
</div>


<!-- Modal verSolicitud -->
<div class="container">
  <div class="modal fade" id="modalVerSolicitud" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Ver Detalle de Solicitud</h4> </center>
        </div>
        <div class="modal-body">
            <center>
            <!-- <strong>ID: </strong> <span id="solic_id"></span> -->
            {{=formulario_ver_solicitud}}
            </center>
            <br>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Aceptar-->
<div class="container">
  <div class="modal fade" id="modalAceptar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Aceptar Solicitud de Programa Analítico</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere aceptar la solicitud con los siguientes detalles?</p>
                     <strong>ID: </strong> <span id="solic_id_rej"></span>
                     <br>
                     <strong>Nombre tentativo: </strong> <span id="solic_name"></span>
                     <br>
                     <strong>Solicitante: </strong><span id="solic_user"></span>
                     {{=formulario_aceptar_solicitud}}
            </center>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Modal Eliminar-->
<div class="container">
  <div class="modal fade" id="modalEliminar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Rechazar Solicitud de Programa Analítico</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere rechazar la solicitud con los siguientes detalles?</p>
                     <strong>ID: </strong> <span id="solic_id_rej"></span>
                     <br>
                     <strong>Nombre tentativo: </strong> <span id="solic_name"></span>
                     <br>
                     <strong>Solicitante: </strong><span id="solic_user"></span>
                     {{=formulario_rechazo_solicitud}}
            </center>
          </div>
        </div>
      </div>
    </div>
</div>


<script type="text/javascript">

  // Ver Solicitud
  $('#modalVerSolicitud').on('show.bs.modal', function(e){

    // Obtener las variables de la fila actual.
    // Se obtiene lo que se definió a partir de la línea 44.
    var id = $(e.relatedTarget).data('id');
    var name = $(e.relatedTarget).data('name');
    var date = $(e.relatedTarget).data('date');
    var descr = $(e.relatedTarget).data('descr');
    var departamento = $(e.relatedTarget).data('departamento');
    var estado = $(e.relatedTarget).data('estado');
    var solict = $(e.relatedTarget).data('solicitante');
    var teach = $(e.relatedTarget).data('profesor-nombre');
    var teachid = $(e.relatedTarget).data('profesor-id');
    var observacion_profesor = $(e.relatedTarget).data('observacion-profesor');
    var observacion_rechazo = $(e.relatedTarget).data('observacion-rechazo');

    // Actualizar el HTML
    // $("#solic_id").text(id);
    $(e.currentTarget).find('input[name="solicitud_id"]').val(id);
    $(e.currentTarget).find('input[name="nombre_tentativo"]').val(name);
    $(e.currentTarget).find('input[name="fecha_creacion"]').val(date);
    $(e.currentTarget).find($("#no_table_descripcion")).val(descr);
    $(e.currentTarget).find('input[name="departamento"]').val(departamento);
    $(e.currentTarget).find('input[name="estado"]').val(estado);
    $(e.currentTarget).find('input[name="solicitante"]').val(solict);
    $(e.currentTarget).find('input[name="nombre_profesor"]').val(teach);
    $(e.currentTarget).find('input[name="profesor_asignado"]').val(teachid);
    $(e.currentTarget).find($("#no_table_observacion_profesor")).val(observacion_profesor);
    $(e.currentTarget).find($("#no_table_observacion_rechazo")).val(observacion_rechazo);

    // Hacer solo editables la descripción y el nombre tentativo.
    // Además, se oculta el campo de ID.
    $(e.currentTarget).find($("#no_table_solicitud_id__row")).attr("hidden","hidden");
    $(e.currentTarget).find('input[name="nombre_tentativo"]').attr('readonly','readonly');
    $(e.currentTarget).find('input[name="fecha_creacion"]').attr('readonly','readonly');
    $(e.currentTarget).find('input[name="departamento"]').attr('readonly','readonly');
    $(e.currentTarget).find('input[name="estado"]').attr('readonly','readonly');
    $(e.currentTarget).find('input[name="solicitante"]').attr('readonly','readonly');
    $(e.currentTarget).find('input[name="nombre_profesor"]').attr('readonly','readonly');
    $(e.currentTarget).find('input[name="profesor_asignado"]').attr('readonly','readonly');
    $(e.currentTarget).find($("#no_table_descripcion")).attr('readonly','readonly');
    $(e.currentTarget).find($("#no_table_observacion_profesor")).attr('readonly','readonly');
    $(e.currentTarget).find($("#no_table_observacion_rechazo")).attr('readonly','readonly');

  });


 // Rechazar Solicitud
  $('#modalAceptar').on('show.bs.modal', function(e){

      // Esconder el campo del form que indica el ID de la
      // solicitud a rechazar
      $("#no_table_solicitud_id_accept__row").hide();

      // Obtener las variables de la fila actual
      var id  = $(e.relatedTarget).data('id');
      var name  = $(e.relatedTarget).data('name');
      var user = $(e.relatedTarget).data('user');

      // Actualizar el HTML
      $("#solic_id_rej").text(id);
      $("#solic_name").text(name);
      $("#solic_user").text(user);

      // Asignar el ID al field del form (hidden)
      $(e.currentTarget).find('input[name="solicitud_id_accept"]').val(id);

  });



  // Rechazar Solicitud
  $('#modalEliminar').on('show.bs.modal', function(e){

      // Esconder el campo del form que indica el ID de la
      // solicitud a rechazar
      $("#no_table_solicitud_id_rech__row").hide();

      // Obtener las variables de la fila actual
      var id  = $(e.relatedTarget).data('id');
      var name  = $(e.relatedTarget).data('name');
      var user = $(e.relatedTarget).data('user');

      // Actualizar el HTML
      $("#solic_id_rej").text(id);
      $("#solic_name").text(name);
      $("#solic_user").text(user);

      // Asignar el ID al field del form (hidden)
      $(e.currentTarget).find('input[name="solicitud_id_rech"]').val(id);

  });


  // initializing datatable
  $(document).ready( function () {
    var opciones = {
          responsive: true,
            "language": {
                search:         "Buscar: ",
                searchPlaceholder: "ID, Código, Fecha...",
                lengthMenu:     "Mostrar _MENU_ entradas.",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "",
                infoFiltered:   "",
                infoPostFix:    "",
                loadingRecords: "Cargando datos...",
                zeroRecords:    "No se encontraron Transcripciones que correspondan a la búsqueda.",
                emptyTable:     "No hay información disponible.",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente.",
                    sortDescending: ": Se ordenan las columnas por orden decreciente."
                }
            },
             "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
            ]
        };
      $('#list-transcriptions').DataTable(opciones);
  } );



</script>
