<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}">
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','datatables/datatables.min.css')}}">
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/sigpae.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/program.css')}}"/>
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <div class="header_home">
          <a href="{{=URL('default','index')}}">
	    	    {{=IMG(_src=URL('static','images/home/sigpaebaner.png'),alt="SIGPAE")}}
          </a>
	  </div>

    <nav class="navbar-default navbar-style sigpae-navbar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type = "button" class = "navbar-toggle collapsed"
               data-toggle = "collapse" data-target = "#navbar">
               <span class = "sr-only">Toggle navigation</span>
               <span class = "icon-bar"></span>
               <span class = "icon-bar"></span>
               <span class = "icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-content-style">
            {{if auth.is_logged_in():}}
            {{=MENU(menu_opciones_rol, _class='nav navbar-nav navbar-left',li_class='dropdown',ul_class='dropdown-menu dropdown-menu-style', li_first='dropdown', li_last='dropdown')}}
            {{=MENU(menu_autenticado, _class='nav navbar-nav navbar-right',li_class='dropdown',ul_class='dropdown-menu dropdown-menu-style', li_first='dropdown', li_last='dropdown')}}
            {{else:}}
              {{if response.menu:}}
              {{=MENU(response.menu, _class='nav navbar-nav navbar-right',li_class='dropdown',ul_class='dropdown-menu dropdown-menu-style', li_first='dropdown', li_last='dropdown')}}
              {{pass}}
            {{pass}}
        </div>
      </div>
    </nav>

    <!-- Main ========================================= -->
    <!-- Begin page content -->

    <div id="main" class="container-fluid main-container">
      {{block center}}
      {{include}}
      {{end}}
    </div>

    {{block footer}} <!-- this is default footer -->
    <footer class="footer footer-sigpae">
        <p>
            Sede Sartenejas. Baruta, Edo. Miranda - Apartado 89000 - Calle Unibolívar - Caracas, Venezuela. Teléfono +58 (0) 212 906 3111 <br>
            Sede Litoral. Camurí Grande, Edo. Vargas Parroquia Naiguatá. Teléfono +58 (0) 212 906 9000
        </p>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{=URL('static','datatables/datatables.min.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
  </body>
</html>
