{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
  <h2> {{=message}}</h2>
{{pass}}
{{if approved_subjects:}}
  <p> Se presenta una tabla con las materias aprobadas y los programas correspondientes a cuando se aprobaron, se recomienda revisar que los programas que se detectan para el carnet buscado sean los correctos.      
  </p>
{{else:}}
  <p> No se consiguieron programas aprobados por el carnet insertado: 
    {{=request.vars.carnet}}
  </p>
{{pass}}


{{if 'error' in globals():}}
  <p>No se pudo conectar con el servicio de consultas. <br>
     Inténte de nuevo más tarde. Si el error persiste póngase en contacto con la Dirección de
     Admisión y Control de Estudios (DACE).
  </p>
{{else:}}
  {{if approved_subjects:}}
    <div class="table-responsive">
     <table id="list-transcriptions" class="table table-striped">
       <thead>
         <tr>
           <th>Nombre</th>
           <th>Código</th>
           <th>Programa Cursado</th>
         </tr>
       </thead>
       <tbody>
         {{for sub, prog, progid in approved_subjects:}}
           <tr>
             <td><a href="{{=URL(c='queries', f='subjectdetail', args = [sub['cod_asignatura']])}}">{{=sub['nombre']}}</a></td>
             <td>{{=sub['cod_asignatura']}}</td>
<!--no checkea si tiene pdf historico-->
             {{if progid is None:}}
               <td>
                 <a data-toggle="modal"
                   data-target="#modalCorreoDace"
                   <button class="btn btn-primary">
                   No Encontrado
<!--La idea es que rellene parte del formato con la data que tiene-->
                   </button>
                 </a>
               </td>
             {{else:}}
               <td>
                 <a href="{{=URL(c='programs',f='view', vars=dict(id=progid))}}">
                   <button class="btn btn-info">
                     <i></i> Encontrado
                   </button>
                 </a>
                 <a data-toggle="modal"
                   data-target="#modalCorreoDace"
                   <button class="btn btn-primary">
                   Reportar Error
<!--La idea es que rellene parte del formato con la data que tiene-->
                   </button>
                 </a>
<!--Si se consigue, poner un boton de descarga directa sería óptimo, se tiene la data-->
               </td>
             {{pass}}
           </tr>
         {{pass}}
       </tbody>
     </table>
     </div>
    </div>

    <script type="text/javascript">
      // initializing datatable
      $(document).ready( function () {
        var opciones = {
              responsive: true,
                "language": {
                    search:         "Buscar: ",
                    searchPlaceholder: "ID, Código, Fecha...",
                    lengthMenu:     "Mostrar _MENU_ entradas.",
                    info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                    infoEmpty:      "",
                    infoFiltered:   "",
                    infoPostFix:    "",
                    loadingRecords: "Cargando datos...",
                    zeroRecords:    "No se encontraron Asignaturas que correspondan a la búsqueda.",
                    emptyTable:     "No hay información disponible.",
                    processing:     "Procesando...",
                    paginate: {
                        first:      "Primero",
                        previous:   "Anterior",
                        next:       "Siguiente",
                        last:       "Último"
                    },
                    aria: {
                        sortAscending:  ": Se ordenan las columnas por orden creciente.",
                        sortDescending: ": Se ordenan las columnas por orden decreciente."
                    }
                },
                 "columns": [
                    null,
                    null,
                    null
                ]
            };
          $('#list-transcriptions').DataTable(opciones);
      } );
    </script>
    {{pass}}

{{pass}}

<!-- Modal para enviar correo a DACE -->
<div class="container">
  <div class="modal fade" id="modalCorreoDace" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Reporte de error</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            Rellene las casillas y presione enviar para reportar el error.
            Se enviará un correo a un administrador de DACE para solucionar el
            problema.(No implementado)
          </center>
            <br>
            {{=form_correo}}     
        </div>
      </div>
    </div>
  </div>
</div>
