{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
  <h2> {{=message}}</h2>
{{pass}}

<div class='row'>
  <div class='col-md-6 col-sm-12'>
    <p><b>Código:</b><a href="{{=URL(c='queries', f='subjectdetail', args = [programa['codigo']])}}">  {{=programa['codigo']}}.</a></p>
    <p><b>Denominación:</b> {{=programa['denominacion']}}.</p>
    <p><b>Fecha de Elaboración:</b> {{=programa['fecha_elaboracion']}}.</p>
    <p><b>Créditos:</b> {{=programa['creditos']}}.</p>
    <p><b>Vigente Desde:</b> {{=programa['periodo']}} {{=programa['anio']}}.</p>
    <p><b>Vigente Hasta:</b> {{ if programa['periodo_hasta']:}} {{=programa['periodo_hasta']}} {{=programa['anio_hasta']}} {{else:}}  --- {{pass}}.</p>
    <p><b>Horas de Teoría:</b> {{=programa['horas_teoria']}}.</p>
    <p><b>Horas de Práctica:</b> {{=programa['horas_practica']}}.</p>
    <p><b>Horas de Laboratorio:</b> {{=programa['horas_laboratorio']}}.</p>
  </div>
  <div class='col-md-6 col-sm-12'>
    <div class="panel panel-info help-content">
      <div class="panel-heading">Descargas</div>
      <div class="panel-body">
        <p>
          <a data-toggle="modal"
           data-target="#modalEstiloCita"
           <button class="btn btn-primary">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Formato PDF
           </button>
          </a>
        </p>
        {{if (programa['original_pdf']) and (auth.has_membership(auth.id_group(role="DACE-ADMINISTRADOR")) or auth.has_membership(auth.id_group(role="DEPARTAMENTO"))):}}
          <p>
            <p>Este Programa tiene disponible la descarga de un PDF Histórico.</p>
            <a href="{{=URL(c='programs',f='originalpdf',args=[programa['id']])}}">
              <button class="btn btn-info">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF Histórico
              </button>
            </a>
          </p>
        {{pass}}
      </div>
    </div>
  </div>
</div>

<!-- Modal para escoger estilo de referencia -->
<div class="container">
  <div class="modal fade" id="modalEstiloCita" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Estilo de referencia</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            Escoja el estilo de referencia en el que desea que genere su programa analítico.
          </center>
            <br>
            {{=estilo_citas_form}}
        </div>
      </div>
    </div>
  </div>
</div>
