{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout_transcripcion.html'}}

<link rel="stylesheet" type="text/css" href="{{=URL('static','datepicker/css/bootstrap-datepicker.standalone.min.css')}}">

<div class="row">
  <div class="col-md-12 column-data">
    <div class="transcription-tag">
      <b>Campos</b>
    </div>
    <div id="colapse-campos" class="text-extract h-scroll">
      {{=transcription_form.custom.begin}}

      <div class="field-tag">
        <b>Código *</b>
        {{=transcription_form.custom.widget.codigo}}
      </div>
        {{if transcription_form.errors:}}
          {{if 'codigo' in transcription_form.errors:}}
            <div class="error">
              {{=transcription_form.errors['codigo']}}
            </div>
          {{pass}}
        {{pass}}

      <div class="field-tag">
        <b>Denominación *</b>
        {{=transcription_form.custom.widget.denominacion}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'denominacion' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['denominacion']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Fecha de Elaboración *</b>
        {{=transcription_form.custom.widget.fecha_elaboracion}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'fecha_elaboracion' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['fecha_elaboracion']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="transcription-tag">
        <b>Periodo de Vigencia </b>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="transcription-tag">
            <b>Desde *</b>
          </div>
          <div class="field-tag">
            <b>Periodo *</b>
            {{=transcription_form.custom.widget.periodo}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'periodo' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['periodo']}}
              </div>
            {{pass}}
          {{pass}}

          <div class="field-tag">
            <b>Año *</b>
            {{=transcription_form.custom.widget.anio}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'anio' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['anio']}}
              </div>
            {{pass}}
          {{pass}}
        </div>
        <div class="col-md-6">
          <div class="transcription-tag">
            <b>Hasta</b>
          </div>

          <div class="field-tag">
            <b>Periodo</b>
            {{=transcription_form.custom.widget.periodo_hasta}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'periodo_hasta' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['periodo_hasta']}}
              </div>
            {{pass}}
          {{pass}}

          <div class="field-tag">
            <b>Año </b>
            {{=transcription_form.custom.widget.anio_hasta}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'anio_hasta' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['anio_hasta']}}
              </div>
            {{pass}}
          {{pass}}
        </div>
      </div>

      <div class="field-tag">
        <b>Horas de Teoría *</b>
        {{=transcription_form.custom.widget.horas_teoria}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_teoria' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_teoria']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Horas de Práctica *</b>
        {{=transcription_form.custom.widget.horas_practica}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_practica' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_practica']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Horas de Laboratorio *</b>
        {{=transcription_form.custom.widget.horas_laboratorio}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_laboratorio' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_laboratorio']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Créditos *</b>
        {{=transcription_form.custom.widget.creditos}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'creditos' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['creditos']}}
          </div>
        {{pass}}
      {{pass}}

      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="transcription-tag ">
            <b id="objetivos-simples">Ver Objetivos Simples <i id="check-objetivos-simples" class="fa fa-check-square-o"></i></b>
          </div>
        </div>
        <div class="col-md-6">
          <div class="transcription-tag">
            <b  id="objetivos-especificos">Ver Objetivos Generales/Especificos <i id="check-objetivos-especificos" class="fa fa-square-o"></i></b>
          </div>
        </div>
      </div>

      <div class="field-tag-wide">
        <b><span id="nombre-objetivos-tag"></span></b>
        {{=transcription_form.custom.widget.objetivos_generales}}
      </div>

      <div id="objetivos-especificos-wrapper">
        <div class="field-tag-wide">
          <b>Objetivos Específicos</b>
          {{=transcription_form.custom.widget.objetivos_especificos}}
        </div>
      </div>

      <div class="field-tag-wide">
        <b>Contenidos Sinopticós</b>
        {{=transcription_form.custom.widget.sinopticos}}
      </div>

      <div class="field-tag-wide">
        <b>Requisitos</b>
        {{=transcription_form.custom.widget.requisitos}}
      </div>

      <div class="field-tag-wide">
        <b>Estrategias Metodológicas</b>
        {{=transcription_form.custom.widget.estrategias_met}}
      </div>

      <div class="field-tag-wide">
        <b>Estrategias de Evaluación</b>
        {{=transcription_form.custom.widget.estrategias_eval}}
      </div>

      <div class="field-tag-wide">
        <b>Justificación</b>
        {{=transcription_form.custom.widget.justificacion}}
      </div>

      <div class="field-tag-wide">
        <b>Fuentes de Información Recomendadas</b>
        {{=transcription_form.custom.widget.ftes_info_recomendadas}}
      </div>

      <div class="field-tag-wide">
        <b>Observaciones</b>
        {{=transcription_form.custom.widget.observaciones}}
      </div>

      <div class="transcription-tag">
        <b>Campos Adicionales</b>
      </div>

      {{if len(campos_adicionales) > 0:}}
        {{ for campo in campos_adicionales:}}
        <div class="field-tag-wide">
          <b>{{=campo['nombre']}}
            <div>
              <a data-toggle="modal"
                 data-target="#modalEditarCampo"
                 data-id = "{{=campo['id']}}"
                 data-nombre = "{{=campo['nombre']}}"
                 data-contenido = "{{=campo['contenido']}}">
                 <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
              </a>
              <a data-toggle="modal"
                 data-target="#modalEliminarCampo"
                 data-nombre = "{{=campo['nombre']}}"
                 data-link-eliminar = "{{=URL(c='drafts',f='delete_aditional_field',args=[id, campo['id']])}}">
                 <i class="fa fa-times red" aria-hidden="true"></i>
              </a>
            </div>
          </b>
          <textarea rows="4" cols="50" readonly>{{=campo['contenido']}}</textarea>
        </div>
        {{pass}}
      {{else:}}
        <p>Este programa no tiene campos adicionales definidos.</p>
      {{pass}}

      <center>
        <a data-toggle="modal"
           data-target="#modalAgregarCampo" >
          <button id="butonAgregarCampo" type="button" class="btn btn-primary" >
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Campo
          </button>
        </a>
        <div class='block-info' >
          <p>
            Los campos adicionales le permiten llenar información que no coincida
            con los campos predeterminados.
          </p>
        </div>
        <div class='block-danger' >
          <p>
            Por favor guarde su trabajo antes de agregar Campos Adicionales, su progreso
            podria perderse.
          </p>
        </div>
      </center>
    </div>
  </div>
</div>

<div class="row">
  <div class="transcription-buttons">
    {{=transcription_form.custom.submit}}
    {{=transcription_form.custom.end}}
    <a href="{{=URL(c='drafts', f='list')}}">
      <button class="btn btn-danger">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
      </button>
    </a>
    <a data-toggle="modal"
       data-target="#modalRechazar"
       data-link-rechazar = "{{=URL(c='drafts',f='reject_transcription',args=[id])}}">
      <button class="btn btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i> Rechazar
      </button>
    </a>
    <a data-toggle="modal"
       data-target="#modalAprobar"
       data-link-aprobar = "{{=URL(c='drafts',f='approve_transcription',args=[id])}}">
      <button class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>Aprobar
      </button>
    </a>
    <div class='block-info' style="max-width: 350px" >
      <p>
        Si realizó cambios a la Transcripción, por favor guárdelos antes de presionar "Aprobar".
      </p>
    </div>
  </div>
</div>


<!-- Modal Agregar Campo Adicional-->
<div class="container">
  <div class="modal fade" id="modalAgregarCampo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Agregar Campo Adicional</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <p>Seleccione de la lista desplegable un campo adicional.</p>
            <p>En caso que no encuentre el campo que este buscando, introduzca el nombre del campo adicional.</p>
          </center>
            <br>
            {{=new_field_form}}
            <center>
              <div class='block-danger' >
                <p>
                  Por favor guarde su trabajo antes de agregar Campos Adicionales, su progreso
                  podria perderse.
                </p>
              </div>
            </center>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Campo Adicional-->
<div class="container">
  <div class="modal fade" id="modalEditarCampo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Campo Adicional</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=edit_field_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Eliminar Campo Adicional-->
<div class="container">
  <div class="modal fade" id="modalEliminarCampo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Eliminar Campo Adicional</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <p>¿Está seguro que desea eliminar el campo <b><span id="nombre-campo-eliminar"><span></b> ?</p>
          </center>
            <br>
            <center>
                <a id="botoneliminarcampo" style="text-decoration: none;">
                  <button id="eliminar-campo-button" type="button" class="btn btn-danger">Eliminar</button>
                </a>
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Aprobar-->
<div class="container">
  <div class="modal fade" id="modalAprobar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Aprobar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
          <center> <p>¿Está seguro que quiere aprobar esta Transcrición?</p>
            <p>Recuerde que una vez aprobada no podrá editarse nuevamente y se agregará a la lista de
              Programas Analíticos de Estudio disponibles.</p>
            </center>
            <br>
            <center>
              <a id="botonaprobar" style="text-decoration: none;">
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-check" aria-hidden="true"></i> Aprobar
                </button>
              </a>
              <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Rechazar-->
<div class="container">
  <div class="modal fade" id="modalRechazar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Rechazar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere rechazar esta Transcripción?</p>
                     <p>El Transcriptor encarcado tendrá la oportunidad de editarla nuevamente
                        y reenviarla a Revisión. Puede agregar un comentario indicando la razón del rechazo.
                      </p>
            </center>
            {{=reject_transcription_form.custom.begin}}
            <p><b>Comentario </b></p>
            {{=reject_transcription_form.custom.widget.comentario}}
            <br>
            <center>
                <a>
                  <button id="botonrechazar" class="btn btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i> Rechazar
                  </button>
                </a>
                {{=reject_transcription_form.custom.end}}
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>



<script type="text/javascript" charset="utf8" src="{{=URL('static','datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script type="text/javascript" charset="utf8" src="{{=URL('static','datepicker/js/bootstrap-datepicker.es.min.js')}}"></script>

<!-- Editar/Eliminar Campos Adicionales-->
<script>
// Pasamos los argumentos para editar el campo adicional
$('#modalEditarCampo').on('show.bs.modal', function(e){

    var id = $(e.relatedTarget).data('id');
    var nombre = $(e.relatedTarget).data('nombre');
    var contenido = $(e.relatedTarget).data('contenido');

    // colocamos el nombre del campo
    $("#nombre-campo").text(nombre);
    $("#no_table_contenido").text(contenido);
    $(e.currentTarget).find('input[name="id_campo"]').val(id);
    $("#no_table_id_campo__row").css("display","none");
});

// Pasamos los argumentos para eliminar la transcripcion.
$('#modalEliminarCampo').on('show.bs.modal', function(e){

    var linkEliminar = $(e.relatedTarget).data('link-eliminar');
    $("#botoneliminarcampo").attr("href", linkEliminar);

    var nombre = $(e.relatedTarget).data('nombre');

    $("#nombre-campo-eliminar").text(nombre);
});

</script>

<script>

  var buttons = document.getElementsByClassName("btn-primary");

  for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', function(){
        window.btn_clicked = true;      //set btn_clicked to true
    });
  }

  // desactivamos la comprobacion de dejar pagina si el boton es de eliminar campo
  document.querySelector('#eliminar-campo-button').addEventListener("click", function(){
      window.btn_clicked = true;      //set btn_clicked to true
  });

  // desactivamos la comprobacion de dejar pagina si el boton es de eliminar campo
  document.querySelector('#botonaprobar').addEventListener("click", function(){
      window.btn_clicked = true;      //set btn_clicked to true
  });

  // desactivamos la comprobacion de dejar pagina si el boton es de eliminar campo
  document.querySelector('#botonrechazar').addEventListener("click", function(){
      window.btn_clicked = true;      //set btn_clicked to true
  });

  window.onbeforeunload = function(){
      if(!window.btn_clicked){
          return 'Los cambios realizados podrían no guardarse.';
      }
  };

  // Colapsar el area de texto extraido
  $("#eye").click(function(){
    if($( "#colapse-campos" ).hasClass( "campos-large")){
      $( "#colapse-campos" ).removeClass("campos-large");
    } else {
      $( "#colapse-campos" ).addClass("campos-large");
    }
    if($( "#eye" ).hasClass( "fa-eye")){
      $( "#eye" ).removeClass("fa-eye");
      $( "#eye" ).addClass("fa-eye-slash");
    } else {
      $( "#eye" ).removeClass("fa-eye-slash");
      $( "#eye" ).addClass("fa-eye");
    }
  });

  // cambiar de objetivos generales a objetivos espeficios y viceversa
  $("#objetivos-simples").click(function(){
    if($( "#check-objetivos-especificos" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-especificos" ).removeClass("fa-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-check-square-o");
    } else {
      $( "#check-objetivos-especificos" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-square-o");
    }
    if($( "#check-objetivos-simples" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-simples" ).removeClass("fa-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-check-square-o");
      // cerramos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","none");
      $("#nombre-objetivos-tag").text('Objetivos');
      unite();
    } else {
      $( "#check-objetivos-simples" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-square-o");
      // abrimos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","block");
      $("#nombre-objetivos-tag").text('Objetivos Generales');
    }
  });

  $("#objetivos-especificos").click(function(){
    if($( "#check-objetivos-simples" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-simples" ).removeClass("fa-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-check-square-o");

    } else {
      $( "#check-objetivos-simples" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-square-o");
    }
    if($( "#check-objetivos-especificos" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-especificos" ).removeClass("fa-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-check-square-o");

      // abrimos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","block");
      $("#nombre-objetivos-tag").text('Objetivos Generales');

    } else {
      $( "#check-objetivos-especificos" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-square-o");

      // cerramos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","none");
      $("#nombre-objetivos-tag").text('Objetivos');
      unite();
    }
  });

   var text = $('#TRANSCRIPCION_objetivos_especificos').val();
   if (text != ''){
     console.log(text);
     $("#nombre-objetivos-tag").text('Objetivos Generales');
    //  manejo del indicador del ojo
     $( "#check-objetivos-simples" ).removeClass("fa-check-square-o");
     $( "#check-objetivos-simples" ).addClass("fa-square-o");
     $( "#check-objetivos-especificos" ).removeClass("fa-square-o");
     $( "#check-objetivos-especificos" ).addClass("fa-check-square-o");
   } else {
     $("#nombre-objetivos-tag").text('Objetivos');
     //  manejo del indicador del ojo
     $( "#check-objetivos-simples" ).removeClass("fa-square-o");
     $( "#check-objetivos-simples" ).addClass("fa-check-square-o");
     $( "#check-objetivos-especificos" ).removeClass("fa-check-square-o");
     $( "#check-objetivos-especificos" ).addClass("fa-square-o");;

     $("#objetivos-especificos-wrapper").css("display","none");
   }


   //  concatena los objetivos especificos a los generales cuando se ocultan los especificos
   function unite(){
       var text1 = $('#TRANSCRIPCION_objetivos_generales').val();
       var text2 = $('#TRANSCRIPCION_objetivos_especificos').val();

       $('#TRANSCRIPCION_objetivos_generales').val(text1 + '\n' + text2);
       $('#TRANSCRIPCION_objetivos_especificos').val('');
    }



</script>

<script type="text/javascript">

  var min_date = new Date("1967/1/1");
  var max_date = new Date();

  var hay_errores = false;

  $('#TRANSCRIPCION_anio').datepicker({
    minViewMode: 2,
    maxViewMode: 2,
    format: 'yyyy',
    autoclose: true,
    language: 'es',
    startDate: min_date,
    endDate: max_date
  });
  
  $('#TRANSCRIPCION_anio_hasta').datepicker({
    minViewMode: 2,
    maxViewMode: 2,
    format: 'yyyy',
    autoclose: true,
    language: 'es',
    startDate: min_date,
    endDate: max_date
  });

  $('#TRANSCRIPCION_fecha_elaboracion').removeClass("date");
  $('#TRANSCRIPCION_fecha_elaboracion').datepicker({
    minViewMode: 0,
    maxViewMode: 2,
    format: 'dd/mm/yyyy',
    autoclose: true,
    language: 'es',
    startDate: min_date,
    endDate: max_date
  });

  $('#TRANSCRIPCION_fecha_elaboracion').change(function(){
    var fecha = new Date($(this).val());
    $("#TRANSCRIPCION_periodo").css('background-color','rgb(255, 255, 255)');
    $("#TRANSCRIPCION_anio").css('background-color','rgb(255, 255, 255)');
    $(this).css('background-color','rgb(255, 255, 255)');

    if (fecha.getMonth() == '0'){
        $('#TRANSCRIPCION_periodo').val('ENE-MAR');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear());

    }
    else if (fecha.getMonth() == '1' || fecha.getMonth() == '2' || (fecha.getMonth() == '3' && fecha.getDate() <= 15) ){
        $('#TRANSCRIPCION_periodo').val('ABR-JUL');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear());
    }
    else if(( fecha.getMonth() >=4 && fecha.getMonth()<=8) || fecha.getMonth() == '3' && fecha.getDate() > 15){
        $('#TRANSCRIPCION_periodo').val('SEP-DIC');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear());
    }
    else{
        $('#TRANSCRIPCION_periodo').val('ENE-MAR');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear()+1);
    }
  });

  var horas_teoria  =  -1;
  var horas_practica  =  -1;
  var horas_laboratorio  =  -1;
  var total_horas = 0;
  $('#TRANSCRIPCION_horas_teoria').change(function() {
    var value = $('#TRANSCRIPCION_horas_teoria').val();
    if (value != ''){
      horas_teoria = parseInt(value);
    } else {
      horas_teoria = 0;
    }
    total_horas = horas_teoria + horas_practica + horas_laboratorio;
    if (total_horas > 40){
      alert("El número total de horas no puede ser superior a 40.");
      var hay_errores = false;
    }
    if ((horas_teoria == 0) & (horas_practica == 0) & (horas_laboratorio == 0)) {
      alert("El número total de horas debe ser mayor a 0.");
      var hay_errores = false;
    }
  });

  $('#TRANSCRIPCION_horas_practica').change(function() {
    var value = $('#TRANSCRIPCION_horas_practica').val();
    if (value != ''){
      horas_practica = parseInt(value);
    } else {
      horas_practica = 0;
    }
    total_horas = horas_teoria + horas_practica + horas_laboratorio;

    if (total_horas > 40){
      alert("El número total de horas no puede ser superior a 40.");
      var hay_errores = false;
    }
    if ((horas_teoria == 0) & (horas_practica == 0) & (horas_laboratorio == 0)) {
      alert("El número total de horas debe ser mayor a 0.");
      var hay_errores = false;
    }
  });

  $('#TRANSCRIPCION_horas_laboratorio').change(function() {
    var value = $('#TRANSCRIPCION_horas_laboratorio').val();
    if (value != ''){
      horas_laboratorio = parseInt(value);
    } else {
      horas_laboratorio = 0;
    }
    total_horas = horas_teoria + horas_practica + horas_laboratorio;

    if (total_horas > 40){
      alert("El número total de horas no puede ser superior a 40.");
      var hay_errores = false;
    }
    if ((horas_teoria == 0) & (horas_practica == 0) & (horas_laboratorio == 0)) {
      alert("El número total de horas debe ser mayor a 0.");
      var hay_errores = false;
    }
  });

  // Pasamos los argumentos al modal para rechazar la transcripcion.
  $('#modalRechazar').on('show.bs.modal', function(e){
      var linkRechazar = $(e.relatedTarget).data('link-rechazar');
      $("#botonrechazar").attr("href", linkRechazar);

  });

  // Pasamos los argumentos al modal para aprobar la transcripcion.
  $('#modalAprobar').on('show.bs.modal', function(e){
      var linkRechazar = $(e.relatedTarget).data('link-aprobar');
      $("#botonaprobar").attr("href", linkRechazar);

  });

</script>
