{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2> {{=message}}</h2>
<p>Esta es una lista de todas los Borradores de Programas asociadas a esta Dependencia.<br>
</p>
{{pass}}

<div class="table-responsive">
 <table id="list-transcriptions" class="table table-striped">
   <thead>
     <tr>
       <th>Bitácora</th>
       <th>ID</th>
       <th>Profesor</th>
       <th>Última Modificación</th>
       <th>Ver</th>
       <th>Reasignar</th>
     </tr>
   </thead>
   <tbody>
     {{for trans in transcripciones:}}
       <tr>
         <td><a href="{{=URL(c='drafts',f='journal',args=[trans['id']])}}"><i class="fa fa-book" aria-hidden="true"></i></a></td>
         <td>{{=trans['id']}}</td>
         <td>{{=trans['transcriptor']}}</td>
         <td>{{=trans['fecha_modificacion']}}</td>
         <td><a href="{{=URL(c='drafts',f='view',vars=dict(id=trans['id']))}}"<i class="fa fa-eye blue" aria-hidden="true"></i></td>
         <td>
           <a data-toggle="modal"
              data-target="#modalReasignar"
              data-id="{{=trans['id']}}"
             <i class="fa fa-refresh green" aria-hidden="true"></i>
           </a>
        </td>
       </tr>
      {{pass}}
   </tbody>
 </table>
 </div>
</div>

<!-- Modal Reasignar-->
<div class="container">
  <div class="modal fade" id="modalReasignar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Reasignar Borrador </h4> </center>
        </div>
        <div class="modal-body">
            <center>
              <p> Seleccione un nuevo Profesor al cual se le reasignará  el Borrador. </br>
                  Puede agregar también un comentario adicional para el nuevo Profesor. </p>
              {{=formulario_reasignar}}
            </center>
            <br>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">

  $('#modalReasignar').on('show.bs.modal', function(e){
    var id = $(e.relatedTarget).data('id');
    $("#no_table_borrador_id__row").hide();
    $(e.currentTarget).find('input[name="borrador_id"]').val(id);
  });

  // initializing datatable
  // $(document).ready( function () {
  //   var opciones = {
  //         responsive: true,
  //           "language": {
  //               search:         "Buscar: ",
  //               searchPlaceholder: "ID, Código, Fecha...",
  //               lengthMenu:     "Mostrar _MENU_ entradas.",
  //               info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
  //               infoEmpty:      "",
  //               infoFiltered:   "",
  //               infoPostFix:    "",
  //               loadingRecords: "Cargando datos...",
  //               zeroRecords:    "No se encontraron Transcripciones que correspondan a la búsqueda.",
  //               emptyTable:     "No hay información disponible.",
  //               processing:     "Procesando...",
  //               paginate: {
  //                   first:      "Primero",
  //                   previous:   "Anterior",
  //                   next:       "Siguiente",
  //                   last:       "Último"
  //               },
  //               aria: {
  //                   sortAscending:  ": Se ordenan las columnas por orden creciente.",
  //                   sortDescending: ": Se ordenan las columnas por orden decreciente."
  //               }
  //           },
  //            "columns": [
  //               { "orderable": false },
  //               null,
  //               null,
  //               null,
  //               null,
  //               { "orderable": false },
  //               { "orderable": false },
  //               { "orderable": false }
  //           ]
  //       };
  //     $('#list-transcriptions').DataTable(opciones);
  // } );

</script>
