{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2> {{=message}}</h2>
<p> Esta es una lista de todas los Borradores que estan pendientes por revisión.<br>
</p>
{{pass}}

<div class="table-responsive">
 <table id="list-transcriptions" class="table table-striped">
   <thead>
     <tr>
       <th>Bitácora</th>
       <th>ID</th>
       <th>Código</th>
       <th>Profesor</th>
       <th>Última Modificación</th>
       <th>Revisar</th>
     </tr>
   </thead>
   <tbody>
     {{for trans in transcripciones:}}
       <tr>
         <td><a href="{{=URL(c='drafts',f='journal',args=[trans['id']])}}"><i class="fa fa-book" aria-hidden="true"></i></a></td>
         <td>{{=trans['id']}}</td>
         <td>{{=trans['codigo']}}</td>
         <td>{{=trans['transcriptor']}}</td>
         <td>{{=trans['fecha_modificacion']}}</td>
         <td><a href="{{=URL(c='drafts',f='approval_view',vars=dict(id=trans['id']))}}"<i class="fa fa-eye blue" aria-hidden="true"></i></td>
       </tr>
      {{pass}}
   </tbody>
 </table>
 </div>
</div>

<script type="text/javascript">
  // initializing datatable
  $(document).ready( function () {
    var opciones = {
          responsive: true,
            "language": {
                search:         "Buscar: ",
                searchPlaceholder: "ID, Código, Fecha...",
                lengthMenu:     "Mostrar _MENU_ entradas.",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "",
                infoFiltered:   "",
                infoPostFix:    "",
                loadingRecords: "Cargando datos...",
                zeroRecords:    "No se encontraron Transcripciones que correspondan a la búsqueda.",
                emptyTable:     "No hay información disponible.",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente.",
                    sortDescending: ": Se ordenan las columnas por orden decreciente."
                }
            },
             "columns": [
                { "orderable": false },
                null,
                null,
                null,
                null,
                { "orderable": false }
            ]
        };
      $('#list-transcriptions').DataTable(opciones);
  } );

</script>
