{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{if 'message' in globals():}}
<h2> {{=message}}</h2>
{{pass}}

<div class="alert alert-info" role="alert">
  ¿No ha encontrado el vídeo deseado? 
      <a  class="alert-link" data-toggle="modal"
      data-target="#modalAgregarReferenciaManual">Introduzca la referencia de manera manual.</a>
</div>

<div class="table-responsive">
 <table id="list-videos" class="table table-striped">
   <thead>
     <tr>
       <th>Vídeo</th>
       <th>Información</th>
       <th>Seleccionar</th>
     </tr>
   </thead>

   <tbody>
     {{for vid in video:}}
       <tr>
         <td><img src="{{=vid['img']}}"></td>
         <td>
            <p class="text-left">
                <b>Titulo: </b>{{=vid['titulo']}}
            </p> 
            <p class="text-left">
                <b>Canal: </b> {{=vid['autor']}}
            </p> 

            {{if len(vid['description']) > 0:}}
              <p class="text-left">
                  <b>Descripción: </b> <p class="text-left">{{=vid['description']}}</p>  
              </p> 
            {{else:}}
              {{pass}}
            <p class="text-left">
                <b>URL: </b> <a href="{{=vid['url']}}">{{=vid['url']}}</a>
            </p>  
         </td>
         <td> 

         <a data-toggle="modal"
            data-target="#modalAgregarReferencia"
            data-id="{{=vid['titulo']}}"
            data-cod="{{=vid['autor']}}"
            data-link-eliminar = "{{=URL(c='transcriptions',f='agregar_video', vars=dict(id=idTranscripcion,autor=vid['autor'], titulo=vid['titulo'], fecha = vid['fecha'], url= vid['url'], description=vid['description'], fechaConsulta=vid['fechaConsulta'] ) )}}">
            <i class="fa fa-plus green" aria-hidden="true"></i>
         </a>


        </td>
       </tr>
      {{pass}}
   </tbody>
 </table>
 </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="back-button">
        <a href="{{=URL(c='transcriptions', f='edit', vars=dict(id=idTranscripcion)) }}">
          <button class="btn btn-danger">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
          </button>
        </a>
        </div>
      </div>
      <div class="col">

      </div>
      <div class="col">
      
      </div>
    </div>
  </div>


  <!-- Modal Agregar-->
  <div class="container">
    <div class="modal fade" id="modalAgregarReferencia" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
              <center> <h4 class="modal-title">Agregar referencia</h4> </center>
          </div>
          <div class="modal-body">
              <center> <p>¿Está seguro que quiere agregar la siguiente referencia?</p>
                       <b>Titulo: </b> <span id="transid"></span>
                       <br>
                       <b>Autor: </b><span id="transcod"></span>
              </center>
              <br>
              <center>
                  <a id="botoneliminar" style="text-decoration: none;">
                    <button type="button" class="btn btn-primary">Aceptar</button>
                  </a>
                  <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancelar </button>
              </center>
            </div>
          </div>
        </div>
      </div>
  </div>


  <!-- Modal Agregar Referencia Manual-->
  <div class="container">
    <div class="modal fade" id="modalAgregarReferenciaManual" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Agregar referencia</h4> </center>
          </div>
          <div class="modal-body">
            <center>
              <p>Introduzca el autor, el título, la feha de consulta y el URL del vídeo que desea agregar.</p>
            </center>
              <br>
              {{=form}}
          </div>
        </div>
      </div>
    </div>
  </div>



<script type="text/javascript">


  // Pasamos los argumentos para eliminar la transcripcion.
  $('#modalAgregarReferencia').on('show.bs.modal', function(e){


      var linkEliminar = $(e.relatedTarget).data('link-eliminar');
      $("#botoneliminar").attr("href", linkEliminar);

      var id  = $(e.relatedTarget).data('id');
      var cod = $(e.relatedTarget).data('cod');

      $("#transid").text(id);
      $("#transcod").text(cod);
  });

    // initializing datatable
  $(document).ready( function () {
    var opciones = {
          responsive: true,
            "language": {
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente.",
                    sortDescending: ": Se ordenan las columnas por orden decreciente."
                }
            },
             "columns": [
               { "orderable": false },
               { "orderable": false },
               { "orderable": false }
            ]
        };
      $('#list-videos').DataTable(opciones);
  } );

</script>
