<?xml version="1.0" encoding="UTF-8"?>
<zs:explainResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.2</zs:version><zs:record><zs:recordSchema>http://explain.z3950.org/dtd/2.0/</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><explain xmlns="http://explain.z3950.org/dtd/2.0/">
      <serverInfo>
        <host>mprxyvlp01.loc.gov</host>
        <port>210</port>
      </serverInfo>
      <databaseInfo>
        <title>LCDB -- Library of Congress Online Catalog</title>
        <description lang="en" primary="true">
                SRU/Z39.50 Gateway to LCDB Z39.50 server. Records in UTF-8 encoding.
              </description>
      </databaseInfo>
      <indexInfo>
        <set identifier="info:srw/cql-context-set/1/cql-v1.1" name="cql"/>
        <set identifier="info:srw/cql-context-set/1/dc-v1.1" name="dc"/>
        <set identifier="http://zing.z3950.org/cql/bath/2.0" name="bath"/>
        <set identifier="http://zing.z3950.org/cql/local/1.1" name="local"/>
        <index id="1016">
          <title>Keyword Anywhere</title>
          <map>
            <name set="cql">anywhere</name>
          </map>
        </index>
        <index id="4">
          <title>Title</title>
          <map>
            <name set="dc">title</name>
          </map>
        </index>
        <index id="1003">
          <title>Creator</title>
          <map>
            <name set="dc">creator</name>
          </map>
          <map>
            <name set="dc">author</name>
          </map>
        </index>
        <index id="21">
          <title>Subject</title>
          <map>
            <name set="dc">subject</name>
          </map>
        </index>
        <index id="1002">
          <title>Name</title>
          <map>
            <name set="bath">name</name>
          </map>
        </index>
        <index id="1">
          <title>Personal Name</title>
          <map>
            <name set="bath">personalName</name>
          </map>
        </index>
        <index id="2">
          <title>Corporate Name</title>
          <map>
            <name set="bath">corporateName</name>
          </map>
        </index>
        <index id="3">
          <title>Conference Name</title>
          <map>
            <name set="bath">conferenceName</name>
          </map>
        </index>
        <index id="58">
          <title>Geographic Name</title>
          <map>
            <name set="bath">geographicName</name>
          </map>
        </index>
        <index id="7">
          <title>ISBN</title>
          <map>
            <name set="bath">isbn</name>
          </map>
        </index>
        <index id="8">
          <title>ISSN</title>
          <map>
            <name set="bath">issn</name>
          </map>
        </index>
        <index id="9">
          <title>LC Control Number</title>
          <map>
            <name set="bath">lccn</name>
          </map>
        </index>
        <index id="1007">
          <title>Standard Identifier</title>
          <map>
            <name set="bath">standardIdentifier</name>
          </map>
        </index>
      </indexInfo>
      <schemaInfo>
        <schema identifier="info:srw/schema/1/marcxml-v1.1" sort="false" name="marcxml">
          <title>MARCXML</title>
        </schema>
        <schema identifier="info:srw/schema/1/dc-v1.1" sort="false" name="dc">
          <title>Dublin Core</title>
        </schema>
        <schema identifier="info:srw/schema/1/mods-v3.5" sort="false" name="mods">
          <title>MODS v3.5</title>
        </schema>
      </schemaInfo>
    </explain></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record><zs:echoedExplainRequest><zs:version>1.2</zs:version><zs:recordPacking>xml</zs:recordPacking></zs:echoedExplainRequest></zs:explainResponse>