{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
  <h2> {{=message}}</h2>
{{pass}}

<div class="row">
  <div class="col-md-6">
    <iframe src="{{=pdfurl}}" class="pdf-display">
      <p>Su navegador no soporta la visualización de documentos. Por favor actualícelo
         o use otro navegador.
      </p>
    </iframe>
  </div>
  <div class="col-md-6 column-data">
  	{{=form}}
  </div>
</div>




