{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout_transcripcion.html'}}
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{=URL('static','datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
</head>



<div class="row">
  <div class="col-md-5">
    <iframe src="{{=pdfurl}}" class="pdf-display">
      <p>Su navegador no soporta la visualización de documentos. Por favor actualícelo
         o use otro navegador.
      </p>
    </iframe>
  </div>
  <div class="col-md-7 column-data">
    <div class="transcription-tag">
      <b>Texto Extraído</b>
      <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
    </div>
    <div id="colapse-text" class="text-extract h-scroll collapse in">
      {{= text}}
    </div>
    <div class="transcription-tag">
      <b>Campos</b>
    </div>
    <div id="colapse-campos" class="text-extract h-scroll">
      {{=transcription_form.custom.begin}}

      <div class="field-tag">
        <b>Código * </b>
        {{=transcription_form.custom.widget.codigo}}
      </div>
        {{if transcription_form.errors:}}
          {{if 'codigo' in transcription_form.errors:}}
            <div class="error">
              {{=transcription_form.errors['codigo']}}
            </div>
          {{pass}}
        {{pass}}

      <div class="field-tag">
        <b>Denominación *</b>
        {{=transcription_form.custom.widget.denominacion}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'denominacion' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['denominacion']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Fecha de Elaboración *</b>
        {{=transcription_form.custom.widget.fecha_elaboracion}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'fecha_elaboracion' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['fecha_elaboracion']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="transcription-tag">
        <b>Período de Vigencia</b>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="transcription-tag">
            <b>Desde *</b>
          </div>
          <div class="field-tag">
            <b>Período *</b>
            {{=transcription_form.custom.widget.periodo}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'periodo' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['periodo']}}
              </div>
            {{pass}}
          {{pass}}

          <div class="field-tag">
            <b>Año *</b>
            {{=transcription_form.custom.widget.anio}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'anio' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['anio']}}
              </div>
            {{pass}}
          {{pass}}
        </div>
        <div class="col-md-6">
          <div class="transcription-tag">
            <b>Hasta</b>
          </div>

          <div class="field-tag">
            <b>Período</b>
            {{=transcription_form.custom.widget.periodo_hasta}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'periodo_hasta' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['periodo_hasta']}}
              </div>
            {{pass}}
          {{pass}}

          <div class="field-tag">
            <b>Año </b>
            {{=transcription_form.custom.widget.anio_hasta}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'anio_hasta' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['anio_hasta']}}
              </div>
            {{pass}}
          {{pass}}
        </div>
      </div>

      <div class="field-tag">
        <b>Horas de Teoría *</b>
        {{=transcription_form.custom.widget.horas_teoria}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_teoria' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_teoria']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Horas de Práctica *</b>
        {{=transcription_form.custom.widget.horas_practica}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_practica' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_practica']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Horas de Laboratorio *</b>
        {{=transcription_form.custom.widget.horas_laboratorio}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_laboratorio' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_laboratorio']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Créditos *</b>
        {{=transcription_form.custom.widget.creditos}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'creditos' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['creditos']}}
          </div>
        {{pass}}
      {{pass}}

      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="transcription-tag ">
            <b id="objetivos-simples">Ver Objetivos Simples <i id="check-objetivos-simples" class="fa fa-check-square-o"></i></b>
          </div>
        </div>
        <div class="col-md-6">
          <div class="transcription-tag">
            <b  id="objetivos-especificos">Ver Objetivos Generales/Específicos <i id="check-objetivos-especificos" class="fa fa-square-o"></i></b>
          </div>
        </div>
      </div>

      <div class="field-tag-wide">
        <b><span id="nombre-objetivos-tag"></span></b>
        {{=transcription_form.custom.widget.objetivos_generales}}
      </div>

      <div id="objetivos-especificos-wrapper">
        <div class="field-tag-wide">
          <b>Objetivos Específicos</b>
          {{=transcription_form.custom.widget.objetivos_especificos}}
        </div>
      </div>

      <div class="field-tag-wide">
        <b>Contenidos Sinópticos</b>
        {{=transcription_form.custom.widget.sinopticos}}
      </div>

      <div class="field-tag-wide">
        <b>Estrategias Metodológicas</b>
        {{=transcription_form.custom.widget.estrategias_met}}
      </div>

      <div class="field-tag-wide">
        <b>Estrategias de Evaluación</b>
        {{=transcription_form.custom.widget.estrategias_eval}}
      </div>

      <div class="field-tag-wide">
        <b>Fuentes de Información Recomendadas</b>
      </div>

      {{if len(referencias_transcripcion) > 0:}}
         <table id="list-books" class="table table-striped">
           <thead>
             <tr>
               <th>Referencia</th>
               <th>Modificar</th>
               <th>Eliminar</th>
             </tr>
        </thead>

        <tbody>
        {{ for referencia in referencias_transcripcion:}}

          <tr>
               <td>
                <p>{{=referencia['cite']}}</p>
                {{if len(referencia['comentarios']) > 0:}}
                  <b>Comentarios:</b> {{=referencia['comentarios']}}
                {{else:}}
                  {{pass}}
               </td>
               <td>

                 {{if referencia['tipo'] == 'video':}}
                   <a data-toggle="modal"
                   data-target="#modalEditarReferenciaVideo"
                   data-id = "{{=referencia['id']}}"
                   data-autor = "{{=referencia['autor']}}"
                   data-coautores = "{{=referencia['coautores']}}"
                   data-institucion = "{{=referencia['institucion']}}"
                   data-anio = "{{=referencia['pubyear']}}"
                   data-titulo = "{{=referencia['titulo']}}"
                   data-url = "{{=referencia['url']}}"
                   data-fecha = "{{=referencia['fecha_ingreso']}}"
                   data-descripcion = "{{=referencia['description']}}"
                   data-comentario = "{{=referencia['comentarios']}}">
                   <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                  </a>
                 {{elif referencia['tipo'] == 'book':}}
                    <a data-toggle="modal"
                    data-target="#modalEditarLibro"
                    data-id        = "{{=referencia['id']}}"
                    data-autor     = "{{=referencia['autor']}}"
                    data-coautores = "{{=referencia['coautores']}}"
                    data-colectivo = "{{=referencia['colectivo']}}"
                    data-anio      = "{{=referencia['pubyear']}}"
                    data-titulo    = "{{=referencia['titulo']}}"
                    data-isbn      = "{{=referencia['isbn']}}"
                    data-publisher = "{{=referencia['publisher']}}"
                    data-book_comment = "{{=referencia['comentarios']}}"
                    data-edition_comment = "{{=referencia['edition_comment']}}"
                    data-open_access = "{{=referencia['open_access']}}"
                    data-book_url = "{{=referencia['book_url']}}"
                    >
                    <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                   </a>

                  {{elif referencia['tipo'] == 'article-minimal':}}
                     <a data-toggle="modal"
                     data-target="#modalEditarArticulo"
                     data-id        = "{{=referencia['id']}}"
                     data-autor     = "{{=referencia['autor']}}"
                     data-anio      = "{{=referencia['pubyear']}}"
                     data-journal   = "{{=referencia['journal']}}"
                     data-titulo    = "{{=referencia['titulo']}}"
                     data-comentario = "{{=referencia['comentarios']}}" >
                     <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                    </a>
                  {{elif referencia['tipo'] == 'article-full':}}
                     <a data-toggle="modal"
                     data-target="#modalEditarArticuloCompleto"
                     data-id        = "{{=referencia['id']}}"
                     data-autor     = "{{=referencia['autor']}}"
                     data-anio      = "{{=referencia['pubyear']}}"
                     data-journal   = "{{=referencia['journal']}}"
                     data-page      = "{{=referencia['paginas']}}"
                     data-volume    = "{{=referencia['volume']}}"
                     data-number    = "{{=referencia['numero']}}"
                     data-month    = "{{=referencia['mes']}}"
                     data-titulo    = "{{=referencia['titulo']}}"
                     data-comentario = "{{=referencia['comentarios']}}">
                     <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                    </a>
                  {{elif referencia['tipo'] == 'fuente_web_1':}}
                     <a data-toggle="modal"
                     data-target="#modalEditarFuenteWeb1"
                     data-id        = "{{=referencia['id']}}"
                     data-autor     = "{{=referencia['autor']}}"
                     data-coautores     = "{{=referencia['coautores']}}"
                     data-anio      = "{{=referencia['pubyear']}}"
                     data-titulo    = "{{=referencia['titulo']}}"
                     data-url       = "{{=referencia['url']}}"
                     data-institucion = "{{=referencia['institucion']}}"
                     data-plataforma = "{{=referencia['plataforma']}}"
                     data-fecha-ingreso = "{{=referencia['fecha_ingreso']}}"
                     data-comentarios = "{{=referencia['comentarios']}}">
                     <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                    </a>
                  {{elif referencia['tipo'] == 'fuente_web_2':}}
                     <a data-toggle="modal"
                     data-target="#modalEditarFuenteWeb2"
                     data-id        = "{{=referencia['id']}}"
                     data-autor     = "{{=referencia['autor']}}"
                     data-coautores     = "{{=referencia['coautores']}}"
                     data-anio      = "{{=referencia['pubyear']}}"
                     data-titulo    = "{{=referencia['titulo']}}"
                     data-titulo-contenedor = "{{=referencia['titulo_contenedor']}}"
                     data-url       = "{{=referencia['url']}}"
                     data-institucion = "{{=referencia['institucion']}}"
                     data-plataforma = "{{=referencia['plataforma']}}"
                     data-fecha-ingreso = "{{=referencia['fecha_ingreso']}}"
                     data-comentario = "{{=referencia['comentarios']}}">
                     <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                    </a>
                  {{elif referencia['tipo'] == 'fuente_web_otros':}}
                     <a data-toggle="modal"
                     data-target="#modalEditarFuenteWebOtros"
                     data-id        = "{{=referencia['id']}}"
                     data-autor     = "{{=referencia['autor']}}"
                     data-coautores     = "{{=referencia['coautores']}}"
                     data-institucion     = "{{=referencia['institucion']}}"
                     data-anio      = "{{=referencia['pubyear']}}"
                     data-titulo    = "{{=referencia['titulo']}}"
                     data-fecha-ingreso = "{{=referencia['fecha_ingreso']}}"
                     data-url       = "{{=referencia['url']}}"
					           data-comentarios = "{{=referencia['comentarios']}}">
                     <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                    </a>
                  {{else:}}
                     <a data-toggle="modal"
                     data-target="#modalEditarOtrasReferencias"
                     data-id        = "{{=referencia['id']}}"
                     data-autor     = "{{=referencia['autor']}}"
                     data-coautores     = "{{=referencia['coautores']}}"
                     data-colectivo     = "{{=referencia['colectivo']}}"
                     data-titulo    = "{{=referencia['titulo']}}"
                     data-pubyear = "{{=referencia['pubyear']}}"
                     data-tipo_material     = "{{=referencia['tipo_material']}}"
                     data-elemento_referencial     = "{{=referencia['elemento_referencial']}}"
                     data-comentarios = "{{=referencia['comentarios']}}">
                     <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
                    </a>
                  {{pass}}

               </td>
               <td>
                 <a data-toggle="modal"
                 data-target="#modalEliminarReferencia"
                 data-nombre = "{{=referencia['cite']}}"
                 data-link-eliminar = "{{=URL(c='transcriptions',f='delete_reference',args=[id, referencia['id']])}}">
                 <i class="fa fa-times red" aria-hidden="true"></i>
                </a>
               </td>
          </tr>

        {{pass}}
      </tbody>
      </table>

      {{else:}}
        <p>Este programa no tiene fuentes de información añadidas.</p>
      {{pass}}

      <center>
        <a data-toggle="modal"
        data-target="#modalAgregarLibro" >
          <button id="butonAgregarCampo" type="button" class="btn btn-primary" >
              <i class="fa fa-plus" aria-hidden="true"></i> Buscar libro
          </button>
        </a>

        <a data-toggle="modal"
        data-target="#modalAgregarVideo" >
          <button id="butonAgregarCampo" type="button" class="btn btn-primary" >
            <i class="fa fa-plus" aria-hidden="true"></i> Buscar vídeo
          </button>
        </a>

        <a data-toggle="modal"
        data-target="#modalAgregarArticulo" >
          <button id="butonAgregarCampo" type="button" class="btn btn-primary" >
            <i class="fa fa-plus" aria-hidden="true"></i> Buscar Articulos
          </button>
        </a>

       <a data-toggle="modal"
       data-target="#modalAgregarFuentesWeb" >
         <button id="butonAgregarCampo" type="button" class="btn btn-primary" >
           <i class="fa fa-plus" aria-hidden="true"></i> Fuentes web
         </button>
       </a>

       <a data-toggle="modal"
        data-target="#modalOtrasFuentes" >
          <button id="butonAgregarCampo" type="button" class="btn btn-primary" >
            <i class="fa fa-plus" aria-hidden="true"></i> Otras referencias
          </button>
      </a>


      </center>

      <div class="field-tag-wide">
        <b>Observaciones</b>
        {{=transcription_form.custom.widget.observaciones}}
      </div>

      <div class="transcription-tag">
        <b>Campos Adicionales</b>
      </div>

      {{if len(campos_adicionales) > 0:}}
        {{ for campo in campos_adicionales:}}
        <div class="field-tag-wide">
          <b>{{=campo['nombre']}}
            <div>
              <a data-toggle="modal"
                 data-target="#modalEditarCampo"
                 data-id = "{{=campo['id']}}"
                 data-nombre = "{{=campo['nombre']}}"
                 data-contenido = "{{=campo['contenido']}}">
                 <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
              </a>
              <a data-toggle="modal"
                 data-target="#modalEliminarCampo"
                 data-nombre = "{{=campo['nombre']}}"
                 data-link-eliminar = "{{=URL(c='transcriptions',f='delete_aditional_field',args=[id, campo['id']])}}">
                 <i class="fa fa-times red" aria-hidden="true"></i>
              </a>
            </div>
          </b>
          <textarea rows="4" cols="50" readonly>{{=campo['contenido']}}</textarea>
        </div>
        {{pass}}
      {{else:}}
        <p>Este programa no tiene campos adicionales definidos.</p>
      {{pass}}

      <center>
        <a data-toggle="modal"
           data-target="#modalAgregarCampo" >
          <button id="butonAgregarCampo" type="button" class="btn btn-primary" >
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Campo
          </button>
        </a>
        <div class='block-info' >
          <p>
            Los campos adicionales le permiten llenar información que no coincida
            con los campos predeterminados.
          </p>
        </div>
        <div class='block-danger' >
          <p>
            Por favor guarde su trabajo antes de agregar Campos Adicionales, su progreso
            podria perderse.
          </p>
        </div>
      </center>
    </div>
  </div>
</div>

<div class="row">
  <div class="transcription-buttons">
    <div class = "btn" id = "Guardar_cambios">
    {{=transcription_form.custom.submit}}
    </div>
    {{=transcription_form.custom.end}}
    <div class = "btn" id = "Regresar">
    {{if auth.has_permission('manage_transcription'):}}
      <a href="{{=URL(c='transcriptions', f=previous_page)}}">
    {{else:}}
      <a href="{{=URL(c='transcriptions', f=previous_page)}}">
    {{pass}}
      <button class="btn btn-danger">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
      </button>
    </a>
    </div>

    {{if ((auth.has_permission('manage_transcription')) and (transcription_estado != 'pendiente')): }}
    <a data-toggle="modal"
       data-target="#modalRechazar"
       data-link-rechazar = "{{=URL(c='transcriptions',f='reject_transcription',args=[id])}}">
      <button class="btn btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i> Rechazar
      </button>
    </a>
    <a data-toggle="modal"
       data-target="#modalAprobar"
       >
      <button class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>Aprobar
      </button>
    </a>
    <div class='block-info' style="max-width: 350px" >
      <p>
        Si realizó cambios a la Transcripción, por favor guárdelos antes de presionar "Aprobar".
      </p>
    </div>
    {{pass}}
  </div>

</div>

<!-- Modal Aprobar-->
<div class="container">
  <div class="modal fade" id="modalAprobar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Aprobar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
          <center> <p>¿Está seguro que quiere aprobar esta Transcrición?</p>
            <p>Recuerde que una vez aprobada no podrá editarse nuevamente y se agregará a la lista de
              Programas Analíticos de Estudio disponibles.</p>
            </center>
            <br>
            <center>
              <a id="botonaprobar" style="text-decoration: none;"
                 href = "{{=URL(c='transcriptions',f='approve_transcription',args=[id])}}">
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-check" aria-hidden="true"></i> Aprobar
                </button>
              </a>
              <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Rechazar-->
<div class="container">
  <div class="modal fade" id="modalRechazar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Rechazar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere rechazar esta Transcripción?</p>
                     <p>El Transcriptor encarcado tendrá la oportunidad de editarla nuevamente
                        y reenviarla a Revisión. Puede agregar un comentario indicando la razón del rechazo.
                      </p>
            </center>
            {{=reject_transcription_form.custom.begin}}
            <p><b>Comentario </b></p>
            {{=reject_transcription_form.custom.widget.comentario}}
            <br>
            <center>
                <a>
                  <button id="botonrechazar" class="btn btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i> Rechazar
                  </button>
                </a>
                {{=reject_transcription_form.custom.end}}
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Agregar Libro-->
<div class="container">
  <div class="modal fade" id="modalAgregarLibro" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Buscar libro</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <br>
          <center>
            <b>Introduzca el titulo del libro que desee agregar a las </b>
            <b>referencias del programa.</b>
          </center>
            <br>
            {{=new_field_form_books}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Vídeo-->
<div class="container">
  <div class="modal fade" id="modalAgregarVideo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Buscar vídeo</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <br>
          <center>
            <b>Introduzca el titulo del vídeo que desee agregar a las </b>
            <b>referencias del programa.</b>
          </center>
            <br>
            {{=new_field_form_video}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Articulos-->
<div class="container">
  <div class="modal fade" id="modalAgregarArticulo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Buscar artículo</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <br>
          <div class="tall-transcription-tag">
            <center>
              <b>Introduzca el titulo y/o autor del articulo <br> que desee agregar a las referencias del programa.</b>
            </center>
          </div>
            {{=new_field_form_journal}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Fuentes Web-->
<div class="container">
  <div class="modal fade" id="modalAgregarFuentesWeb" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Buscar fuente web</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <p>Introduzca el tipo de fuente web que desee agregar a las </p>
            <p>referencias del programa.</p>
          </center>
            <br>
            {{=new_field_form_fuentes_web}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Otras Fuentes-->
<div class="container">
  <div class="modal fade" id="modalOtrasFuentes" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Agregar referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <br>
          <center>
            <b>Introduzca la información relevante de referencia que desea agregar.</b>
          </center>
            <br>
            {{=new_field_form_otras_fuentes}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Comentario-->
<div class="container">
  <div class="modal fade" id="modalAgregarComentario" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Agregar comentario</h4> </center>
        </div>
        <div class="modal-body">
            {{=new_field_comentario_referencia}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Video) -->
<div class="container">
  <div class="modal fade" id="modalEditarReferenciaVideo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=reference_edit_field_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Libro) -->
<div class="container">
  <div class="modal fade" id="modalEditarLibro" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=reference_edit_book_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Artículo mínimo) -->
<div class="container">
  <div class="modal fade" id="modalEditarArticulo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=reference_edit_article_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Artículo completo) -->
<div class="container">
  <div class="modal fade" id="modalEditarArticuloCompleto" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=full_article_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Fuente web 1) -->
<div class="container">
  <div class="modal fade" id="modalEditarFuenteWeb1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=reference_edit_fuente_web_1_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Fuente Web 2) -->
<div class="container">
  <div class="modal fade" id="modalEditarFuenteWeb2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=reference_edit_fuente_web_2_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Fuente Web otros) -->
<div class="container">
  <div class="modal fade" id="modalEditarFuenteWebOtros" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=reference_edit_fuente_web_otros_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Referencia (Otras fuentes) -->
<div class="container">
  <div class="modal fade" id="modalEditarOtrasReferencias" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
            <b>Texto Extraído</b>
            <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
            {{= text}}
          </div>
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=reference_edit_otras_fuentes_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Eliminar Referencia-->
<div class="container">
  <div class="modal fade" id="modalEliminarReferencia" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Eliminar Referencia</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <p>¿Está seguro que desea eliminar la referencia <b><span id="nombre-referencia-eliminar"><span></b> ?</p>
          </center>
            <br>
            <center>
                <a id="botoneliminareferencia" style="text-decoration: none;">
                  <button id="eliminar-referencia-button" type="button" class="btn btn-danger">Eliminar</button>
                </a>
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Agregar Campo Adicional-->
<div class="container">
  <div class="modal fade" id="modalAgregarCampo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Agregar Campo Adicional</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <p>Seleccione de la lista desplegable un campo adicional.</p>
            <p>En caso que no encuentre el campo que este buscando, introduzca el nombre del campo adicional.</p>
          </center>
            <br>
            {{=new_field_form}}
            <center>
              <div class='block-danger' >
                <p>
                  Por favor guarde su trabajo antes de agregar Campos Adicionales, su progreso
                  podria perderse.
                </p>
              </div>
            </center>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Campo Adicional-->
<div class="container">
  <div class="modal fade" id="modalEditarCampo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Editar Campo Adicional</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <b><span id="nombre-campo"><span></b>
          </center>
            <br>
            {{=edit_field_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Eliminar Campo Adicional-->
<div class="container">
  <div class="modal fade" id="modalEliminarCampo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Eliminar Campo Adicional</h4> </center>
        </div>
        <div class="modal-body">
          <center>
            <p>¿Está seguro que desea eliminar el campo <b><span id="nombre-campo-eliminar"><span></b> ?</p>
          </center>
            <br>
            <center>
                <a id="botoneliminarcampo" style="text-decoration: none;">
                  <button id="eliminar-campo-button" type="button" class="btn btn-danger">Eliminar</button>
                </a>
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf8" src="{{=URL('static','datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script type="text/javascript" charset="utf8" src="{{=URL('static','datepicker/js/bootstrap-datepicker.es.min.js')}}"></script>

<!-- Editar/Eliminar Campos Adicionales-->
<script>
// Pasamos los argumentos para editar el campo adicional
$('#modalEditarCampo').on('show.bs.modal', function(e){

    var id = $(e.relatedTarget).data('id');
    var nombre = $(e.relatedTarget).data('nombre');
    var contenido = $(e.relatedTarget).data('contenido');

    // colocamos el nombre del campo
    $("#nombre-campo").text(nombre);
    $("#no_table_contenido").text(contenido);
    $(e.currentTarget).find('input[name="id_campo"]').val(id);
    $("#no_table_id_campo__row").css("display","none");
});

$('#modalAgregarComentario').on('show.bs.modal', function(e){

    var id = $(e.relatedTarget).data('id');
    var comentario = $(e.relatedTarget).data('comentario');

    // colocamos el nombre del campo
    $("#no_table_comentario").text(comentario);
    $(e.currentTarget).find('input[name="id_campo"]').val(id);
    $("#no_table_id_campo__row").css("display","none");
});

// Pasamos los argumentos para editar la referencia (Video).
$('#modalEditarReferenciaVideo').on('show.bs.modal', function(e){

    var id = $(e.relatedTarget).data('id');
    var autor = $(e.relatedTarget).data('autor');
    var coautores = $(e.relatedTarget).data('coautores');
    var institucion = $(e.relatedTarget).data('institucion');
    var anio = $(e.relatedTarget).data('anio');
    var titulo = $(e.relatedTarget).data('titulo');
    var url = $(e.relatedTarget).data('url');
    var descripcion = $(e.relatedTarget).data('descripcion');
    var fechaConsulta = $(e.relatedTarget).data('fecha');
    var comentario = $(e.relatedTarget).data('comentario');


    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_campo_video"]').val(id);
    $("#no_table_id_campo_video__row").css("display","none");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="coautores"]').val(coautores);
    $(e.currentTarget).find('input[name="institucion"]').val(institucion);
    $(e.currentTarget).find('input[name="url"]').val(url);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="pubyear"]').val(anio);
    $(e.currentTarget).find('input[name="fechaConsulta"]').val(fechaConsulta);
    $("#no_table_description").text(descripcion);
    $("#no_table_comentario_video").text(comentario);
});

// Pasamos los argumentos para editar la referencia (Libro).
$('#modalEditarLibro').on('show.bs.modal', function(e){

    var id = $(e.relatedTarget).data('id');
    var autor = $(e.relatedTarget).data('autor');
    var colectivo = $(e.relatedTarget).data('colectivo');
    var coautores = $(e.relatedTarget).data('coautores')
    var anio = $(e.relatedTarget).data('anio');
    var titulo = $(e.relatedTarget).data('titulo');
    var isbn = $(e.relatedTarget).data('isbn');
    var publisher = $(e.relatedTarget).data('publisher');
    var book_comment = $(e.relatedTarget).data('book_comment');
    var edition_comment = $(e.relatedTarget).data('edition_comment');
    var open_access = $(e.relatedTarget).data('open_access');
    var book_url = $(e.relatedTarget).data('book_url');

    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_libro"]').val(id);
    $(e.currentTarget).find($("#no_table_id_libro__row")).attr("hidden","hidden");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="coautores"]').val(coautores);
    $(e.currentTarget).find('input[name="colectivo"]').val(colectivo);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="fecha"]').val(anio);
    $(e.currentTarget).find('input[name="isbn"]').val(isbn);
    $(e.currentTarget).find('input[name="publisher"]').val(publisher);
    $("#no_table_book_comment").text(book_comment);
    $(e.currentTarget).find('input[name="edition_comment"]').val(edition_comment);

    if (open_access == "True") {
      $("#no_table_open_access").attr("checked",true);
    }

    $(e.currentTarget).find('input[name="book_url"]').val(book_url);

});


// Pasamos los argumentos para editar la referencia (Articulo minimo).
$('#modalEditarArticulo').on('show.bs.modal', function(e){

    var id = $(e.relatedTarget).data('id');
    var autor = $(e.relatedTarget).data('autor');
    var anio = $(e.relatedTarget).data('anio');
    var titulo = $(e.relatedTarget).data('titulo');
    var journal = $(e.relatedTarget).data('journal');
    var comentario = $(e.relatedTarget).data('comentario');

    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_campo_articulo_min"]').val(id);
    $("#no_table_id_campo_articulo_min__row").css("display","none");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="journal"]').val(journal);
    $(e.currentTarget).find('input[name="fecha"]').val(anio);
    $("#no_table_comentario_articulo_minimo").text(comentario);

});

// Pasamos los argumentos para editar la referencia (Articulo completo).
$('#modalEditarArticuloCompleto').on('show.bs.modal', function(e){

    var id      = $(e.relatedTarget).data('id');
    var autor   = $(e.relatedTarget).data('autor');
    var anio    = $(e.relatedTarget).data('anio');
    var titulo  = $(e.relatedTarget).data('titulo');
    var journal = $(e.relatedTarget).data('journal');
    var page    = $(e.relatedTarget).data('page');
    var volume  = $(e.relatedTarget).data('volume');
    var month  = $(e.relatedTarget).data('month');
    var number  = $(e.relatedTarget).data('number');
    var comentario = $(e.relatedTarget).data('comentario');

    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_campo_articulo_max"]').val(id);
    $("#no_table_id_campo_articulo_max__row").css("display","none");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="journal"]').val(journal);
    $(e.currentTarget).find('input[name="fecha"]').val(anio);
    $(e.currentTarget).find('input[name="pages"]').val(page);
    $(e.currentTarget).find('input[name="volume"]').val(volume);
    $(e.currentTarget).find('input[name="mes"]').val(month);
    $(e.currentTarget).find('input[name="number"]').val(number);
    $("#no_table_comentario_articulo_completo").text(comentario);

});

// Pasamos los argumentos para editar la referencia (Articulo completo).
$('#modalEditarFuenteWeb1').on('show.bs.modal', function(e){

    var id      = $(e.relatedTarget).data('id');
    var autor   = $(e.relatedTarget).data('autor');
    var coautores   = $(e.relatedTarget).data('coautores');
    var anio    = $(e.relatedTarget).data('anio');
    var titulo  = $(e.relatedTarget).data('titulo');
    var url = $(e.relatedTarget).data('url');
    var institucion    = $(e.relatedTarget).data('institucion');
    var plataforma  = $(e.relatedTarget).data('plataforma');
    var fecha_ingreso  = $(e.relatedTarget).data('fecha-ingreso');
    var comentarios = $(e.relatedTarget).data('comentarios');

    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_campo_fuente_uno"]').val(id);
    $("#no_table_id_campo_fuente_uno__row").css("display","none");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="coautores"]').val(coautores);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="institucion"]').val(institucion);
    $(e.currentTarget).find('input[name="plataforma"]').val(plataforma);
    $(e.currentTarget).find('input[name="enlace"]').val(url);
    $(e.currentTarget).find('input[name="fecha_publicacion"]').val(anio);
    $(e.currentTarget).find('input[name="fecha_consulta"]').val(fecha_ingreso);
    $("#no_table_comentario_fuentes_web_uno").text(comentarios);
});

// Pasamos los argumentos para editar la referencia (Articulo completo).
$('#modalEditarFuenteWeb2').on('show.bs.modal', function(e){

    var id      = $(e.relatedTarget).data('id');
    var autor   = $(e.relatedTarget).data('autor');
    var coautores   = $(e.relatedTarget).data('coautores');
    var anio    = $(e.relatedTarget).data('anio');
    var titulo  = $(e.relatedTarget).data('titulo');
    var titulo_contenedor  = $(e.relatedTarget).data('titulo-contenedor');
    var url = $(e.relatedTarget).data('url');
    var institucion    = $(e.relatedTarget).data('institucion');
    var plataforma  = $(e.relatedTarget).data('plataforma');
    var fecha_ingreso  = $(e.relatedTarget).data('fecha-ingreso');
    var comentarios = $(e.relatedTarget).data('comentarios');

    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_campo_fuente_dos"]').val(id);
    $("#no_table_id_campo_fuente_dos__row").css("display","none");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="coautores"]').val(coautores);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="titulo_contenedor"]').val(titulo_contenedor);
    $(e.currentTarget).find('input[name="institucion"]').val(institucion);
    $(e.currentTarget).find('input[name="plataforma"]').val(plataforma);
    $(e.currentTarget).find('input[name="enlace"]').val(url);
    $(e.currentTarget).find('input[name="fecha_publicacion"]').val(anio);
    $(e.currentTarget).find('input[name="fecha_consulta"]').val(fecha_ingreso);
    $("#no_table_comentario_fuentes_web_dos").text(comentarios);
});

// Pasamos los argumentos para editar la referencia (Articulo completo).
$('#modalEditarFuenteWebOtros').on('show.bs.modal', function(e){

    var id      = $(e.relatedTarget).data('id');
    var autor   = $(e.relatedTarget).data('autor');
    var coautores   = $(e.relatedTarget).data('coautores');
    var institucion   = $(e.relatedTarget).data('institucion');
    var anio    = $(e.relatedTarget).data('anio');
    var titulo  = $(e.relatedTarget).data('titulo');
    var url = $(e.relatedTarget).data('url');
    var fecha_ingreso  = $(e.relatedTarget).data('fecha-ingreso');
    var comentarios = $(e.relatedTarget).data('comentarios');

    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_campo_fuentes_otro"]').val(id);
    $("#no_table_id_campo_fuentes_otro__row").css("display","none");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="coautores"]').val(coautores);
    $(e.currentTarget).find('input[name="institucion"]').val(institucion);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="enlace"]').val(url);
    $(e.currentTarget).find('input[name="fecha_publicacion"]').val(anio);
    $(e.currentTarget).find('input[name="fecha_consulta"]').val(fecha_ingreso);
    $("#no_table_comentario_fuentes_web_otro").text(comentarios);

});

// Pasamos los argumentos para editar la referencia (OTRAS REFERENCIAS).
$('#modalEditarOtrasReferencias').on('show.bs.modal', function(e){

    var id      =        $(e.relatedTarget).data('id');
    var autor   =        $(e.relatedTarget).data('autor');
    var coautores =      $(e.relatedTarget).data('coautores');
    var colectivo =      $(e.relatedTarget).data('colectivo');
    var titulo  =        $(e.relatedTarget).data('titulo');
    var tipo_material  = $(e.relatedTarget).data('tipo_material');
    var elemento_referencial   = $(e.relatedTarget).data('elemento_referencial');
    var pubyear  = $(e.relatedTarget).data('pubyear');
    var comentarios = $(e.relatedTarget).data('comentarios');

    // colocamos el nombre del campo
    $(e.currentTarget).find('input[name="id_campo_otras_fuentes"]').val(id);
    $("#no_table_id_campo_otras_fuentes__row").css("display","none");
    $(e.currentTarget).find('input[name="autor"]').val(autor);
    $(e.currentTarget).find('input[name="coautores"]').val(coautores);
    $(e.currentTarget).find('input[name="colectivo"]').val(colectivo);
    $(e.currentTarget).find('input[name="titulo"]').val(titulo);
    $(e.currentTarget).find('input[name="tipo_material"]').val(tipo_material);
    $(e.currentTarget).find('input[name="elemento_referencial"]').val(elemento_referencial);
    $(e.currentTarget).find('input[name="pubyear"]').val(pubyear);
    $("#no_table_comentario_otra_fuente").text(comentarios);
});



// Pasamos los argumentos para eliminar la transcripcion.
$('#modalEliminarCampo').on('show.bs.modal', function(e){

    var linkEliminar = $(e.relatedTarget).data('link-eliminar');
    $("#botoneliminarcampo").attr("href", linkEliminar);

    var nombre = $(e.relatedTarget).data('nombre');

    $("#nombre-campo-eliminar").text(nombre);
});

// Pasamos los argumentos para eliminar la referencia.
$('#modalEliminarReferencia').on('show.bs.modal', function(e){

    var linkEliminar = $(e.relatedTarget).data('link-eliminar');
    $("#botoneliminareferencia").attr("href", linkEliminar);

    var nombre = $(e.relatedTarget).data('nombre');

    $("#nombre-referencia-eliminar").text(nombre);
});

</script>

<script>

  var fields = document.getElementsByClassName("field-tag");
  var fields_wide = document.getElementsByClassName("field-tag-wide");

  $("#Guardar_cambios").click(function(){
    window.btn_clicked = false;
  });
      //set btn_clicked to true
  for (var i = 0; i < fields.length; i++) {
    fields[i].addEventListener('change', function(){
        window.btn_clicked = true;      //set btn_clicked to true
    });
  }
  for (var i = 0; i < fields_wide.length; i++) {

    fields_wide[i].addEventListener('change', function(){
        window.btn_clicked = true;      //set btn_clicked to true
    });
  }

  // desactivamos la comprobacion de dejar pagina si el boton es de eliminar campo
//  document.querySelector('#eliminar-campo-button').addEventListener("click", function(){
//      window.btn_clicked = false;      //set btn_clicked to true
//  });


    // desactivamos la comprobacion de dejar pagina si el boton es de eliminar campo
//  document.querySelector('#eliminar-referencia-button').addEventListener("click", function(){
//      window.btn_clicked = false;      //set btn_clicked to true
//  });



  window.onbeforeunload = function(e){
//      window.alert(window.btn_clicked);
      if(window.btn_clicked){
          var confirmationMessage = 'Los cambios realizados podrían no haberse guardado.'
          e.returnValue = confirmationMessage;
          return (confirmationMessage);
      }
  };

  // Colapsar el area de texto extraido
  $("#eye").click(function(){
    if($( "#colapse-campos" ).hasClass( "campos-large")){
      $( "#colapse-campos" ).removeClass("campos-large");
    } else {
      $( "#colapse-campos" ).addClass("campos-large");
    }
    if($( "#eye" ).hasClass( "fa-eye")){
      $( "#eye" ).removeClass("fa-eye");
      $( "#eye" ).addClass("fa-eye-slash");
    } else {
      $( "#eye" ).removeClass("fa-eye-slash");
      $( "#eye" ).addClass("fa-eye");
    }
  });

  // cambiar de objetivos generales a objetivos espeficios y viceversa
  $("#objetivos-simples").click(function(){
    if($( "#check-objetivos-especificos" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-especificos" ).removeClass("fa-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-check-square-o");
    } else {
      $( "#check-objetivos-especificos" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-square-o");
    }
    if($( "#check-objetivos-simples" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-simples" ).removeClass("fa-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-check-square-o");
      // cerramos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","none");
      $("#nombre-objetivos-tag").text('Objetivos');
      unite();
    } else {
      $( "#check-objetivos-simples" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-square-o");
      // abrimos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","block");
      $("#nombre-objetivos-tag").text('Objetivos Generales');
    }
  });

  $("#objetivos-especificos").click(function(){
    if($( "#check-objetivos-simples" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-simples" ).removeClass("fa-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-check-square-o");

    } else {
      $( "#check-objetivos-simples" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-simples" ).addClass("fa-square-o");
    }
    if($( "#check-objetivos-especificos" ).hasClass( "fa-square-o")){
      $( "#check-objetivos-especificos" ).removeClass("fa-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-check-square-o");

      // abrimos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","block");
      $("#nombre-objetivos-tag").text('Objetivos Generales');

    } else {
      $( "#check-objetivos-especificos" ).removeClass("fa-check-square-o");
      $( "#check-objetivos-especificos" ).addClass("fa-square-o");

      // cerramos el editor de objetivos especificos
      $("#objetivos-especificos-wrapper").css("display","none");
      $("#nombre-objetivos-tag").text('Objetivos');
      unite();
    }
  });

   var text = $('#TRANSCRIPCION_objetivos_especificos').val();
   if (text != ''){
     console.log(text);
     $("#nombre-objetivos-tag").text('Objetivos Generales');
    //  manejo del indicador del ojo
     $( "#check-objetivos-simples" ).removeClass("fa-check-square-o");
     $( "#check-objetivos-simples" ).addClass("fa-square-o");
     $( "#check-objetivos-especificos" ).removeClass("fa-square-o");
     $( "#check-objetivos-especificos" ).addClass("fa-check-square-o");
   } else {
     $("#nombre-objetivos-tag").text('Objetivos');
     //  manejo del indicador del ojo
     $( "#check-objetivos-simples" ).removeClass("fa-square-o");
     $( "#check-objetivos-simples" ).addClass("fa-check-square-o");
     $( "#check-objetivos-especificos" ).removeClass("fa-check-square-o");
     $( "#check-objetivos-especificos" ).addClass("fa-square-o");;

     $("#objetivos-especificos-wrapper").css("display","none");
   }


   //  concatena los objetivos especificos a los generales cuando se ocultan los especificos
   function unite(){
       var text1 = $('#TRANSCRIPCION_objetivos_generales').val();
       var text2 = $('#TRANSCRIPCION_objetivos_especificos').val();

       $('#TRANSCRIPCION_objetivos_generales').val(text1 + '\n' + text2);
       $('#TRANSCRIPCION_objetivos_especificos').val('');
    }



</script>

<script type="text/javascript">

  var min_date = new Date("1967/1/1");
  var max_date = new Date();

  var hay_errores = false;
  var credits_have_changed = false;

  function check_credits(){

    var periodo           =$('#TRANSCRIPCION_periodo').val();
    var anio              = $('#TRANSCRIPCION_anio').val();
    var creditos          = $('#TRANSCRIPCION_creditos').val();
    var horas_teoria      = $('#TRANSCRIPCION_horas_teoria').val();
    var horas_practica    = $('#TRANSCRIPCION_horas_practica').val();
    var horas_laboratorio = $('#TRANSCRIPCION_horas_laboratorio').val();
    var total_creditos = 0;

    // Se cambia el tipo de los datos
    if (creditos != ''){
      creditos = parseInt(creditos);
    } else {
      creditos = 0;
    }

    if (anio != ''){
      anio = parseInt(anio);
    } else {
      anio = 0;
    }

    if (horas_teoria != ''){
      horas_teoria = parseInt(horas_teoria);
    } else {
      horas_teoria = 0;
    }

    if (horas_practica != ''){
      horas_practica = parseInt(horas_practica);
    } else {
      horas_practica = 0;
    }

    if (horas_laboratorio != ''){
      horas_laboratorio = parseInt(horas_laboratorio);
    } else {
      horas_laboratorio = 0;
    }

    console.log("Hora teoria "+horas_teoria);
    console.log("Hora practica "+horas_practica);
    console.log("Hora laboratorio "+horas_laboratorio);
    console.log("Periodo "+periodo);
    console.log("Anio "+anio);

    // Se hace la revisión a aquellos planes de estudio que entraron
    // en vigencia luego de Julio de 2009
    if (anio > 2009 || (anio == 2009 && (periodo == 'SEP-DIC'|| periodo == 'OCT_FEB') ) ) {

      console.log("Entre a la revision");
      // Se suman las horas de teoria al total de créditos
      if ( horas_teoria <= 5 ) {
        total_creditos = total_creditos + horas_teoria
      }

      // Se suman las horas de práctica al total de créditos
      if (horas_practica >= 3 && horas_practica <= 5) {
        total_creditos = total_creditos + 1
      }

      // Se suman las horas de laboratorio al total de créditos
      if (horas_laboratorio == 2){
        total_creditos = total_creditos + 1
      }
      else if (horas_laboratorio == 3 || horas_laboratorio == 4){
        total_creditos = total_creditos + 2
      }
      else if (horas_laboratorio >= 5 && horas_laboratorio <=7){
        total_creditos = total_creditos + 3
      }
      else if (horas_laboratorio >= 8 && horas_laboratorio <= 11){
        total_creditos = total_creditos + 4
      }
      else if (horas_laboratorio == 12){
        total_creditos = total_creditos + 5
      }

      console.log("Total de créditos"+ total_creditos);
      console.log("Créditos seleccionados"+creditos);

      // Se verifica si el número de créditos corresponde al
      // número de créditos acumulados.
      if (creditos!=total_creditos){
        alert("La carga acádemica no corresponde con el número de créditos.");
      }

    }

   }


  $('#TRANSCRIPCION_anio').datepicker({
    minViewMode: 2,
    maxViewMode: 2,
    format: 'yyyy',
    autoclose: true,
    language: 'es',
    startDate: min_date,
    endDate: max_date
  });

  $('#TRANSCRIPCION_anio_hasta').datepicker({
    minViewMode: 2,
    maxViewMode: 2,
    format: 'yyyy',
    autoclose: true,
    language: 'es',
    startDate: min_date,
    endDate: max_date
  });

  $('#TRANSCRIPCION_fecha_elaboracion').removeClass("date");
  $('#TRANSCRIPCION_fecha_elaboracion').datepicker({
    minViewMode: 0,
    maxViewMode: 2,
    format: 'dd/mm/yyyy',
    autoclose: true,
    language: 'es',
    startDate: min_date,
    endDate: max_date
  });

  $('#TRANSCRIPCION_fecha_elaboracion').change(function(){
    var fecha = new Date($(this).val());

    $("#TRANSCRIPCION_periodo").css('background-color','rgb(255, 255, 255)');
    $("#TRANSCRIPCION_anio").css('background-color','rgb(255, 255, 255)');
    $(this).css('background-color','rgb(255, 255, 255)');

    if (fecha.getMonth() == '0'){
        $('#TRANSCRIPCION_periodo').val('ENE-MAR');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear());

    }
    else if (fecha.getMonth() == '1' || fecha.getMonth() == '2' || (fecha.getMonth() == '3' && fecha.getDate() <= 15) ){
        $('#TRANSCRIPCION_periodo').val('ABR-JUL');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear());
    }
    else if(( fecha.getMonth() >=4 && fecha.getMonth()<=8) || fecha.getMonth() == '3' && fecha.getDate() > 15){
        $('#TRANSCRIPCION_periodo').val('SEP-DIC');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear());
    }
    else{
        $('#TRANSCRIPCION_periodo').val('ENE-MAR');
        $('#TRANSCRIPCION_anio').val(fecha.getFullYear()+1);
    }

  });

  $('#TRANSCRIPCION_periodo').change(function(){

    console.log("Entre periodo");
    var creditos          = $('#TRANSCRIPCION_creditos').val();
    // Se cambia el tipo de los datos
    if (creditos != ''){
      creditos = parseInt(creditos);
    } else {
      creditos = 0;
    }

    if (credits_have_changed || creditos != 0) {
      check_credits();
    }

  });

  $('#TRANSCRIPCION_anio').change(function(){

    console.log("Entre anio");
    var creditos          = $('#TRANSCRIPCION_creditos').val();
    // Se cambia el tipo de los datos
    if (creditos != ''){
      creditos = parseInt(creditos);
    } else {
      creditos = 0;
    }

    if (credits_have_changed || creditos != 0) {
      check_credits();
    }

  });

  var horas_teoria  =  -1;
  var horas_practica  =  -1;
  var horas_laboratorio  =  -1;
  var total_horas = 0;
  var creditos  = 1;


  $('#TRANSCRIPCION_horas_teoria').change(function() {
    var value    = $('#TRANSCRIPCION_horas_teoria').val();
    var creditos = $('#TRANSCRIPCION_creditos').val();

    // Se cambia el tipo de los datos
    if (creditos != ''){
      creditos = parseInt(creditos);
    } else {
      creditos = 0;
    }

    if (value != ''){
      horas_teoria = parseInt(value);
    } else {
      horas_teoria = 0;
    }



    total_horas = horas_teoria + horas_practica + horas_laboratorio;
    if (total_horas > 40){
      alert("El número total de horas no puede ser superior a 40.");
      var hay_errores = false;
    }
    if ((horas_teoria == 0) & (horas_practica == 0) & (horas_laboratorio == 0)) {
      alert("El número total de horas debe ser mayor a 0.");
      var hay_errores = false;
    }


    if (credits_have_changed || creditos != 0) {
      check_credits();
    }

  });

  $('#TRANSCRIPCION_horas_practica').change(function() {
    var value     = $('#TRANSCRIPCION_horas_practica').val();
    var creditos  = $('#TRANSCRIPCION_creditos').val();

    // Se cambia el tipo de los datos
    if (creditos != ''){
      creditos = parseInt(creditos);
    } else {
      creditos = 0;
    }

    if (value != ''){
      horas_practica = parseInt(value);
    } else {
      horas_practica = 0;
    }
    total_horas = horas_teoria + horas_practica + horas_laboratorio;

    if (total_horas > 40){
      alert("El número total de horas no puede ser superior a 40.");
      var hay_errores = false;
    }
    if ((horas_teoria == 0) & (horas_practica == 0) & (horas_laboratorio == 0)) {
      alert("El número total de horas debe ser mayor a 0.");
      var hay_errores = false;
    }


    if (credits_have_changed || creditos != 0) {
      check_credits();
    }

  });

  $('#TRANSCRIPCION_horas_laboratorio').change(function() {
    var value     = $('#TRANSCRIPCION_horas_laboratorio').val();
    var creditos  = $('#TRANSCRIPCION_creditos').val();

    // Se cambia el tipo de los datos
    if (creditos != ''){
      creditos = parseInt(creditos);
    } else {
      creditos = 0;
    }

    if (value != ''){
      horas_laboratorio = parseInt(value);
    } else {
      horas_laboratorio = 0;
    }
    total_horas = horas_teoria + horas_practica + horas_laboratorio;

    if (total_horas > 40){
      alert("El número total de horas no puede ser superior a 40.");
      var hay_errores = false;
    }
    if ((horas_teoria == 0) & (horas_practica == 0) & (horas_laboratorio == 0)) {
      alert("El número total de horas debe ser mayor a 0.");
      var hay_errores = false;
    }

    if (credits_have_changed || creditos != 0) {
      check_credits();
    }

  });

  $('#TRANSCRIPCION_creditos').change(function() {

    // Se verifica el número de créditos
    credits_have_changed = true;
    check_credits();

  });

</script>
