{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2> {{=message}}</h2>
<p> Esta es una lista de todas las Transcripciones en curso pertenecientes a los
   Transcriptores bajo su supervisión. <br>
</p>
{{pass}}

<div class="row">
  <a data-toggle="modal"
     data-target="#modalAsignarTranscripcion">
    <button type="button" class="btn btn-primary bottom-right-buttom">
      <i class="fa fa-plus" aria-hidden="true"></i> Crear y Asignar Nueva Transcripción
    </button>
  </a>
</div>

<div class="table-responsive">
 <table id="list-transcriptions" class="table table-striped">
   <thead>
     <tr>
       <th>Bitácora</th>
       <th>ID</th>
       <th>Responsable</th>
       <th>Código</th>
       <th>Última Modificación</th>
       <th>Ver</th>
       <th>Reasignar</th>
       <th>Eliminar</th>
     </tr>
   </thead>
   <tbody>
     {{print "#############################PRINT DE PRUEBA FOLLOWING.html###############################"}} 
     {{print "transcriptores"}} 
     {{print transcriptores}} 
     {{for transcriptor in transcriptores:}}
      {{print "Primer for"}} 
      {{for trans in transcriptor['transcripciones']:}}
       {{print "Segundo for"}} 
       {{for reg in registros:}}       
        {{print "reg.afiliacion.transcriptor"}}
        {{print reg.afiliacion.transcriptor}}
        {{print "transcriptor"}}
        {{print transcriptor}}
        {{print "reg.afiliacion.supervisor"}}
        {{print reg.afiliacion.supervisor}}
        {{print "auth.user.username"}}
        {{print auth.user.username}}
        {{if ((reg.afiliacion.transcriptor == transcriptor['username']) 
          and (reg.afiliacion.supervisor == auth.user.username)
          and (reg.transcripcion.id == trans.id)):}}
         <tr>
          <td><a href="{{=URL(c='transcriptions',f='journal',args=[trans['id']])}}"><i class="fa fa-book" aria-hidden="true"></i></a></td>
          <td>{{=trans['id']}}</td>
          <td>{{=transcriptor['username']}}</td>
          <td>{{=trans['codigo']}}</td>
          <td>{{=trans['fecha_modificacion']}}</td>
          <td><a href="{{=URL(c='transcriptions',f='view',vars=dict(id=trans['id']))}}"<i class="fa fa-eye blue" aria-hidden="true"></i></td>
          <td>
              <a data-toggle="modal"
                data-target="#modalReasignar"
                data-id="{{=trans['id']}}"
                <i class="fa fa-refresh green" aria-hidden="true"></i>
              </a>
          </td>
          <td>
              <a data-toggle="modal"
                 data-target="#modalEliminar"
                 data-id="{{=trans['id']}}"
                 data-cod="{{=trans['codigo']}}"
                 data-link-eliminar = "{{=URL(c='transcriptions',f='delete_transcription_as_supervizer',args=[trans['id']])}}">
                 <i class="fa fa-times red" aria-hidden="true"></i>
              </a>
          </td>
         </tr>
        {{pass}}
       {{pass}}
      {{pass}}
     {{pass}}
   </tbody>
 </table>
 </div>
</div>

<!-- Modal Asignar Transcripción-->
<div class="container">
  <div class="modal fade" id="modalAsignarTranscripcion" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Agregar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>Escriba el correo institucional del usuario que desea agregar como Transcriptor.</p>
                     {{=form}}
            </center>
            <br>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Reasignar-->
<div class="container">
  <div class="modal fade" id="modalReasignar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Reasignar Trascripción </h4> </center>
        </div>
        <div class="modal-body">
            <center>
              <p> Seleccione un nuevo Transcriptor al cual se le reasignará la Transcripción. </br>
                  Puede agregar también un comentario adicional para el nuevo Transcriptor. </p>
              {{=formulario_reasignar}}
            </center>
            <br>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="container">
  <div class="modal fade" id="modalEliminar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Eliminar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere eliminar la transcripcion con los siguientes detalles?</p>
                     <b>ID: </b> <span id="transid"></span>
                     <br>
                     <b>Código: </b><span id="transcod"></span>
            </center>
            <br>
            <center>
                <a id="botoneliminar" style="text-decoration: none;">
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>


<script type="text/javascript">
  // Pasamos los argumentos para eliminar el rol del usuario.
  $('#modalEliminar').on('show.bs.modal', function(e){

      var linkEliminar = $(e.relatedTarget).data('link-eliminar');
      $("#botoneliminar").attr("href", linkEliminar);

      var id  = $(e.relatedTarget).data('id');
      var cod = $(e.relatedTarget).data('cod');

      $("#transid").text(id);
      $("#transcod").text(cod);
  });

  $('#modalReasignar').on('show.bs.modal', function(e){
    var id = $(e.relatedTarget).data('id');
    $("#no_table_transcription_id__row").hide();
    $(e.currentTarget).find('input[name="transcription_id"]').val(id);
  });

  // initializing datatable
  $(document).ready( function () {
    var opciones = {
          responsive: true,
            "language": {
                search:         "Buscar: ",
                searchPlaceholder: "ID, Código, Fecha...",
                lengthMenu:     "Mostrar _MENU_ entradas.",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "",
                infoFiltered:   "",
                infoPostFix:    "",
                loadingRecords: "Cargando datos...",
                zeroRecords:    "No se encontraron Transcripciones que correspondan a la búsqueda.",
                emptyTable:     "No hay información disponible.",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente.",
                    sortDescending: ": Se ordenan las columnas por orden decreciente."
                }
            },
             "columns": [
                { "orderable": false },
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        };
      $('#list-transcriptions').DataTable(opciones);
  } );

</script>
