{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{if 'message' in globals():}}
<h2> {{=message}}</h2>
{{pass}}


<div class="alert alert-info" role="alert">
  ¿No ha encontrado el libro deseado?
      <a  class="alert-link" data-toggle="modal"
      data-target="#modalAgregarReferenciaManual">Introduzca la referencia de manera manual.</a>
</div>

<div class="table-responsive">
 <table id="list-books" class="table table-striped">
   <thead>
     <tr>
       <th>Titulo</th>
       <th>Autor</th>
       <th>Coautores</th>
       <th>Isb</th>
       <th>Year</th>
       <th>Publisher</th>
       <th>Seleccionar</th>
     </tr>
   </thead>

   <tbody>
     {{for rec in records:}}
       <tr>
         <td>{{=rec['titulo']}}</td>
         {{if rec['autor']:}}
         <td>{{=rec['autor']}}</td>
         {{elif rec['colectivo']:}}
         <td>{{=rec['colectivo'] + ' (autor colectivo)'}}</td>
         {{else:}}
         <td></td>
         {{pass}}
         <td>{{=rec['coautores']}}</td>
         <td>{{=rec['isb']}}</td>
         <td>{{=rec['year']}}</td>
         <td>{{=rec['publisher']}}</td>
         <td>
         <a data-toggle="modal"
            data-target="#modalAgregarReferencia"
            data-id="{{=rec['titulo']}}"
            data-cod="{{=rec['autor']}}"
            data-link-eliminar = "{{=URL(c='transcriptions',f='agregar_referencias', vars=dict(id=idTranscripcion,coautores=rec['coautores'],colectivo=rec['colectivo'],titulo=rec['titulo'],autor=rec['autor'],isbn=rec['isb'],year=rec['year'],publisher=rec['publisher'],vistaRetorno = vistaRetorno, previous_page = previous_page) )}}">
            <i class="fa fa-plus green" aria-hidden="true"></i>
         </a>
        </td>
       </tr>

      {{pass}}
   </tbody>
 </table>
 </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="back-button">
        <a href="{{=URL(c='transcriptions', f='edit', vars=dict(id=idTranscripcion, previous_page=previous_page)) }}">
          <button class="btn btn-danger">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
          </button>
        </a>
        </div>
      </div>
      <div class="col">

      </div>
      <div class="col">

      </div>
    </div>
  </div>

</div>


<!-- Modal Agregar Referencia (Libro automático)-->
<div class="container">
  <div class="modal fade" id="modalAgregarReferencia" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Agregar referencia</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere agregar la siguiente referencia?</p>
                     <b>Titulo: </b> <span id="transid"></span>
                     <br>
                     <b>Autor: </b><span id="transcod"></span>
            </center>
            <br>
            <center>
                <a id="botoneliminar" style="text-decoration: none;">
                  <button type="button" class="btn btn-primary">Aceptar</button>
                </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancelar </button>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Modal Agregar Referencia (Libro Manual)-->
<div class="container">
  <div class="modal fade" id="modalAgregarReferenciaManual" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center> <h4 class="modal-title">Agregar referencia</h4> </center>
        </div>
        <div class="modal-body">
          <div class="transcription-tag">
              <b>Texto Extraído</b>
              <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
          </div>
          <div id="colapse-text" class="text-extract h-scroll collapse in">
              {{= text}}
          </div>
          <br>
          <center>
            <b>Introduzca el autor, título, el editorial y el año de publicación del libro que desea agregar.</b>
          </center>
            <br>
            {{=form}}
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  // Pasamos los argumentos para agregar referencia
  $('#modalAgregarReferencia').on('show.bs.modal', function(e){


      var linkEliminar = $(e.relatedTarget).data('link-eliminar');
      $("#botoneliminar").attr("href", linkEliminar);

      var id  = $(e.relatedTarget).data('id');
      var cod = $(e.relatedTarget).data('cod');

      $("#transid").text(id);
      $("#transcod").text(cod);
  });


    // initializing datatable
  $(document).ready( function () {
    var opciones = {
          responsive: true,
            "language": {
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente.",
                    sortDescending: ": Se ordenan las columnas por orden decreciente."
                }
            },
             "columns": [
               { "orderable": true },
               { "orderable": true },
               { "orderable": true },
               { "orderable": true },
               { "orderable": true },
               { "orderable": true }
            ]
        };
      $('#list-books').DataTable(opciones);
  } );

</script>
