{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2> {{=message}}</h2>
{{pass}}

<div class="row">
  <a data-toggle="modal"
     data-target="#modalSolicitarTranscripcion">
  </a>
</div>

<div class="table-responsive">
 <table id="list-transcriptions" class="table table-striped">
   <thead>
     <tr>
       <th>Bitácora</th>
       <th>ID</th>
       <th>Código</th>
       <th>Fecha Elaboración</th>
       <th>Última Modificación</th>
       <th>Modificar</th>
       <th>Eliminar</th>
       <th>Enviar</th>
     </tr>
   </thead>
   <tbody>
     {{for trans in transcripciones:}}
       <tr>
         <td><a href="{{=URL(c='transcriptions',f='journal',args=[trans['id']])}}"><i class="fa fa-book" aria-hidden="true"></i></a></td>
         <td>{{=trans['id']}}</td>
         <td>{{=trans['codigo']}}</td>
         <td>{{=trans['fecha_elaboracion']}}</td>
         <td>{{=trans['fecha_modificacion']}}</td>
         <td>
          <a href="{{=URL(c='transcriptions',f='edit',vars=dict(id=trans['id'],previous_page='list'))}}">
            <i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
          </a>
         </td>
         <td>
           <a data-toggle="modal"
              data-target="#modalEliminar"
              data-id="{{=trans['id']}}"
              data-cod="{{=trans['codigo']}}"
              data-link-eliminar = "{{=URL(c='transcriptions',f='delete_transcription',args=[trans['id']])}}">
              <i class="fa fa-times red" aria-hidden="true"></i>
           </a>
         </td>
         <td>
           <a data-toggle="modal"
              data-target="#modalEnviar"
              data-id="{{=trans['id']}}"
              data-cod="{{=trans['codigo']}}"
              data-link-enviar = "{{=URL(c='transcriptions',f='send_transcription',args=[trans['id']])}}">
             <i class="fa fa-arrow-right green" aria-hidden="true"></i>
           </a>
         </td>
       </tr>
      {{pass}}
   </tbody>
 </table>
 </div>
</div>

<!-- Modal Solicitar Transcripción-->
<div class="container">
  <div class="modal fade" id="modalSolicitarTranscripcion" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Solicitar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>Escriba el departamente al que le quiere solicitar la Transcripción.</p>
                     {{=form}}
            </center>
            <br>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="container">
  <div class="modal fade" id="modalEliminar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Eliminar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere eliminar la transcripcion con los siguientes detalles?</p>
                     <b>ID: </b> <span id="transid"></span>
                     <br>
                     <b>Código: </b><span id="transcod"></span>
            </center>
            <br>
            <center>
                <a id="botoneliminar" style="text-decoration: none;">
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Cerrar </button>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Enviar-->
<div class="container">
  <div class="modal fade" id="modalEnviar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Enviar Transcripción</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere enviar a revisión la transcripción con los siguientes detalles?</p>
                     <b>ID: </b> <span id="transid-env"></span>
                     <br>
                     <b>Código: </b><span id="transcod-env"></span>

                     <p>Recuerde que una vez enviada no podrá editarla nuevamente.</p>
            </center>
            <br>
            <center>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancelar </button>
                <a id="botonenviar" style="text-decoration: none;">
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Enviar
                  </button>
                </a>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  // Pasamos los argumentos para eliminar la transcripcion.
  $('#modalEliminar').on('show.bs.modal', function(e){

      var linkEliminar = $(e.relatedTarget).data('link-eliminar');
      $("#botoneliminar").attr("href", linkEliminar);

      var id  = $(e.relatedTarget).data('id');
      var cod = $(e.relatedTarget).data('cod');

      $("#transid").text(id);
      $("#transcod").text(cod);
  });

  // Pasamos los argumentos para enviar la transcripcion.
  $('#modalEnviar').on('show.bs.modal', function(e){

      var linkEnviar = $(e.relatedTarget).data('link-enviar');
      $("#botonenviar").attr("href", linkEnviar);

      var id  = $(e.relatedTarget).data('id');
      var cod = $(e.relatedTarget).data('cod');

      $("#transid-env").text(id);
      $("#transcod-env").text(cod);
  });

  // initializing datatable
  $(document).ready( function () {
    var opciones = {
          responsive: true,
            "language": {
                search:         "Buscar: ",
                searchPlaceholder: "ID, Código, Fecha...",
                lengthMenu:     "Mostrar _MENU_ entradas.",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "",
                infoFiltered:   "",
                infoPostFix:    "",
                loadingRecords: "Cargando datos...",
                zeroRecords:    "No se encontraron Transcripciones que correspondan a la búsqueda.",
                emptyTable:     "No hay información disponible.",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente.",
                    sortDescending: ": Se ordenan las columnas por orden decreciente."
                }
            },
             "columns": [
               { "orderable": false },
                null,
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        };
      $('#list-transcriptions').DataTable(opciones);
  } );

</script>
