{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout_transcripcion.html'}}

<link rel="stylesheet" type="text/css" href="{{=URL('static','datepicker/css/bootstrap-datepicker.standalone.min.css')}}">

<div class="row">
  <div class="col-md-5">
    <iframe src="{{=pdfurl}}" class="pdf-display">
      <p>Su navegador no soporta la visualización de documentos. Por favor actualícelo
         O use otro navegador.
      </p>
    </iframe>
  </div>
  <div class="col-md-7 column-data">
    <div class="transcription-tag">
      <b>Texto Extraido</b>
      <i id="eye" class="fa fa-eye" aria-hidden="true" data-toggle="collapse" data-target="#colapse-text"></i>
    </div>
    <div id="colapse-text" class="text-extract h-scroll collapse in">
      {{= text}}
    </div>
    <div class="transcription-tag">
      <b>Campos</b>
    </div>
    <div id="colapse-campos" class="text-extract h-scroll">
      {{=transcription_form.custom.begin}}

      <div class="field-tag">
        <b>Código * </b>
        {{=transcription_form.custom.widget.codigo}}
      </div>
        {{if transcription_form.errors:}}
          {{if 'codigo' in transcription_form.errors:}}
            <div class="error">
              {{=transcription_form.errors['codigo']}}
            </div>
          {{pass}}
        {{pass}}

      <div class="field-tag">
        <b>Denominación *</b>
        {{=transcription_form.custom.widget.denominacion}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'denominacion' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['denominacion']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Fecha de Elaboración *</b>
        {{=transcription_form.custom.widget.fecha_elaboracion}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'fecha_elaboracion' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['fecha_elaboracion']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="transcription-tag">
        <b>Periodo de Vigencia</b>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="transcription-tag">
            <b>Desde *</b>
          </div>
          <div class="field-tag">
            <b>Periodo *</b>
            {{=transcription_form.custom.widget.periodo}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'periodo' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['periodo']}}
              </div>
            {{pass}}
          {{pass}}

          <div class="field-tag">
            <b>Año *</b>
            {{=transcription_form.custom.widget.anio}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'anio' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['anio']}}
              </div>
            {{pass}}
          {{pass}}
        </div>
        <div class="col-md-6">
          <div class="transcription-tag">
            <b>Hasta</b>
          </div>

          <div class="field-tag">
            <b>Periodo</b>
            {{=transcription_form.custom.widget.periodo_hasta}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'periodo_hasta' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['periodo_hasta']}}
              </div>
            {{pass}}
          {{pass}}

          <div class="field-tag">
            <b>Año </b>
            {{=transcription_form.custom.widget.anio_hasta}}
          </div>
          {{if transcription_form.errors:}}
            {{if 'anio_hasta' in transcription_form.errors:}}
              <div class="error">
                {{=transcription_form.errors['anio_hasta']}}
              </div>
            {{pass}}
          {{pass}}
        </div>
      </div>

      <div class="field-tag">
        <b>Horas de Teoría *</b>
        {{=transcription_form.custom.widget.horas_teoria}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_teoria' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_teoria']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Horas de Práctica *</b>
        {{=transcription_form.custom.widget.horas_practica}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_practica' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_practica']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Horas de Laboratorio *</b>
        {{=transcription_form.custom.widget.horas_laboratorio}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'horas_laboratorio' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['horas_laboratorio']}}
          </div>
        {{pass}}
      {{pass}}

      <div class="field-tag">
        <b>Créditos *</b>
        {{=transcription_form.custom.widget.creditos}}
      </div>
      {{if transcription_form.errors:}}
        {{if 'creditos' in transcription_form.errors:}}
          <div class="error">
            {{=transcription_form.errors['creditos']}}
          </div>
        {{pass}}
      {{pass}}

      <br>

      <div class="field-tag-wide">
        <b>Objetivos Generales</b>
        {{=transcription_form.custom.widget.objetivos_generales}}
      </div>

      <div class="field-tag-wide">
        <b>Objetivos Específicos</b>
        {{=transcription_form.custom.widget.objetivos_especificos}}
      </div>

      <div class="field-tag-wide">
        <b>Contenidos Sinópticos</b>
        {{=transcription_form.custom.widget.sinopticos}}
      </div>

      <div class="field-tag-wide">
        <b>Estrategias Metodológicas</b>
        {{=transcription_form.custom.widget.estrategias_met}}
      </div>

      <div class="field-tag-wide">
        <b>Estrategias de Evaluación</b>
        {{=transcription_form.custom.widget.estrategias_eval}}
      </div>

      <div class="field-tag-wide">
        <b>Fuentes de Información Recomendadas</b>
      </div>

      {{if len(referencias_transcripcion) > 0:}}
         <table id="list-books" class="table table-striped">
           <thead>
             <tr>
               <th>Referencia</th>
             </tr>
        </thead>

        <tbody>
        {{ for referencia in referencias_transcripcion:}}

          <tr>
               <td>
                <p>{{=referencia['cite']}}</p>
                {{if len(referencia['comentarios']) > 0:}}
                  <b>Comentarios:</b> {{=referencia['comentarios']}}
                {{else:}}
                  {{pass}}
               </td>
          </tr>

        {{pass}}
      </tbody>
      </table>

      {{else:}}
        <p>Este programa no tiene fuentes de información añadidas.</p>
      {{pass}}


      <div class="field-tag-wide">
        <b>Observaciones</b>
        {{=transcription_form.custom.widget.observaciones}}
      </div>

      <div class="transcription-tag">
        <b>Campos Adicionales</b>
      </div>

      {{if len(campos_adicionales) > 0:}}
        {{ for campo in campos_adicionales:}}
        <div class="field-tag-wide">
          <b>{{=campo['nombre']}}</b>
          <textarea rows="4" cols="50" readonly disabled='True'>{{=campo['contenido']}}</textarea>
        </div>
        {{pass}}
      {{else:}}
        <p>Este programa no tiene campos adicionales definidos.</p>
      {{pass}}
    </div>
  </div>
</div>

<div class="row">
  <div class="transcription-buttons">
    {{=transcription_form.custom.end}}
      <button class="btn btn-danger" onclick="goBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>  Regresar
      </button>
  </div>
</div>

<script type="text/javascript" charset="utf8" src="{{=URL('static','datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script type="text/javascript" charset="utf8" src="{{=URL('static','datepicker/js/bootstrap-datepicker.es.min.js')}}"></script>

<!-- Editar/Eliminar Campos Adicionales-->
<script>
  function goBack() {
      window.history.back();
  }

  // desactivar todos los campos
  $('#TRANSCRIPCION_codigo').prop('disabled', true);
  $('#TRANSCRIPCION_denominacion').prop('disabled', true);
  $('#TRANSCRIPCION_fecha_elaboracion').prop('disabled', true);
  $('#TRANSCRIPCION_periodo').prop('disabled', true);
  $('#TRANSCRIPCION_anio').prop('disabled', true);
  $('#TRANSCRIPCION_periodo_hasta').prop('disabled', true);
  $('#TRANSCRIPCION_anio_hasta').prop('disabled', true);
  $('#TRANSCRIPCION_horas_teoria').prop('disabled', true);
  $('#TRANSCRIPCION_horas_practica').prop('disabled', true);
  $('#TRANSCRIPCION_horas_laboratorio').prop('disabled', true);
  $('#TRANSCRIPCION_creditos').prop('disabled', true);

  $('#TRANSCRIPCION_objetivos_generales').prop('disabled', true);
  $('#TRANSCRIPCION_objetivos_especificos').prop('disabled', true);
  $('#TRANSCRIPCION_sinopticos').prop('disabled', true);
  $('#TRANSCRIPCION_requisitos').prop('disabled', true);
  $('#TRANSCRIPCION_estrategias_met').prop('disabled', true);
  $('#TRANSCRIPCION_estrategias_eval').prop('disabled', true);
  $('#TRANSCRIPCION_justificacion').prop('disabled', true);
  $('#TRANSCRIPCION_ftes_info_recomendadas').prop('disabled', true);
  $('#TRANSCRIPCION_observaciones').prop('disabled', true);

</script>

<script>
  // Colapsar el area de texto extraido
  $("#eye").click(function(){
    if($( "#colapse-campos" ).hasClass( "campos-large")){
      $( "#colapse-campos" ).removeClass("campos-large");
    } else {
      $( "#colapse-campos" ).addClass("campos-large");
    }
    if($( "#eye" ).hasClass( "fa-eye")){
      $( "#eye" ).removeClass("fa-eye");
      $( "#eye" ).addClass("fa-eye-slash");
    } else {
      $( "#eye" ).removeClass("fa-eye-slash");
      $( "#eye" ).addClass("fa-eye");
    }
  });
</script>
